/*
 *
 */
// High-level base settings.
$inuit-global-font-size:   22px;
$inuit-global-font-size-mobile:   18px;
$inuit-global-line-height: $inuit-global-font-size * 1.6;
$inuit-base-text-color:         $brand-col-1;
$inuit-base-background-color:   #fff;

$inuit-wrapper-width: 1600px;

$milli-size: 14px;

$inuit-enable-btn-large:   true;
$inuit-enable-btn-large:   true;
$inuit-enable-btn--full:    true;

$inuit-widths-delimiter: '-';

