/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

$col-act-gray-xxlight : #e5e5e5;

$act-grey : #ccc;
$act-grey-light : #eee;
$act-grey-dark : #666;

$bbd-yellow : #fcec47;
$bbd-pink : #e61c6d;
$bbd-indigo-blue : #1d1c3b;
$bbd-green : #66ffcc;
$bbd-blue : #5cc7f2;

$brand-col-1 : $bbd-yellow;
$brand-col-2 : $bbd-indigo-blue;
$brand-col-3 : $bbd-pink;
$brand-col-4 : $bbd-green;
$brand-col-5 : $bbd-blue;


$col-text : #fff;
$col-heading : #fff;
$col-link : $brand-col-1;
$col-accent : $brand-col-3;

