/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29-Jan-2015, 21:59:02
    Author     : Richard
*/

$col-act-gray-xxlight : #e5e5e5;

$act-grey : #ccc;
$act-grey-light : #eee;
$act-grey-dark : #666;

$bbd-yellow : #fcec47;
$bbd-pink : #e61c6d;
$hep-pink : #B63E7F;
$bbd-indigo-blue : #1d1c3b;
$hep-violet : #4E429C;
$hep-pinkish : lighten($hep-pink, 30%);

$brand-col-1 : $bbd-yellow;
$brand-col-2 : $bbd-indigo-blue;
$brand-col-3 : $bbd-pink;
//$brand-col-4 : $hep-indigo-blue;
//$brand-col-5 : $hep-violet;
//$brand-col-6 : $hep-pinkish;
//$brand-col-7 : $act-grey;
//$brand-col-8 : $act-grey-light;
//$brand-col-9 : $act-grey-dark;

$col-text : $brand-col-2;
$col-heading : $brand-col-2;
$col-link : $brand-col-2;
$col-accent : $brand-col-3;

