/*
  BEM BLOCK .c-contact-form
 */

.c-contact-form {
  display: block;
  background: lighten($brand-col-4, 0%);
  padding: $act-unit-s $act-unit;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto 0;
}

/*
  BEM BLOCK MODIFIER .c-contact-form--
 */

.c-contact-form-- {
  &request {
    .c-contact-form__content{
      @include mq($from : tablet){
        display: flex;
        align-items: flex-end;
      }

      > *{
        margin-right:$act-unit-t;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .c-contact-form__input-wrapper--submit{
      padding: 0;
      margin-bottom: $act-unit-t;
    }

    .ajax-loader{
      display: none !important;
    }
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-contact-form--

[class*=contact-form--] {
  @extend .c-contact-form;
}

/*
  BEM ELEMENTS .c-contact-form__
 */

.c-contact-form__ {
  &notice{
    display: block;
  }
  &header{
    display: block;
  }
  &fieldset{
    background: $col-text;
    padding: $act-unit-t;
  }
  &input-wrapper{
    display: block;
    margin-bottom: 0;
  }
  &radio-wrapper{
    @extend .c-contact-form__label;
    padding-bottom:$act-unit-t;
    border-bottom:solid 2px white;
  }
  &input{
    display: block;
    width: 100%;
    border: none;
    padding:$act-unit-t;
  }
  &label{
    display: block;
    margin-bottom: $act-unit-t;
    color: white;
  }
  &label-text{
    @include act-font-size($act-fs-5, 1);
  }
  &label-text-radio{
    @include act-font-size($act-fs-5, 1);
  }
  &legend{
    float: left;
    width: 100%;
    margin-bottom:$act-unit-t;
    text-transform: uppercase;
    @include act-font-size($act-fs-5);
    font-weight: bold;
    background: $col-text;
    padding: 0.5em 1em;
    color: white;
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
}


//BEM ELEMENT MODIFIER  .c-contact-form__ELEMENT--

[class*=contact-form__header--] {
  @extend .c-contact-form__header;
}

[class*=contact-form__input-wrapper--] {
  @extend .c-contact-form__input-wrapper;
}

.c-contact-form__input-wrapper--{
  &submit{
    padding-top:$act-unit-s;
  }
}

[class*=contact-form__notice--] {
  @extend .c-contact-form__notice;
}

.c-contact-form__notice--{
  &success-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    background: $brand-col-4;
    left: 0;
    text-align: center;
    color: $brand-col-2;
    padding: $act-unit-t;
    pointer-events: none;
    z-index: 10;
    * {
      margin: 0 !important;
    }

    animation:signup-response 2s 1;
    -webkit-animation:signup-response 2s 1;
    animation-fill-mode: forwards;

    animation-delay:5s;
    -webkit-animation-delay:5s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
  }
}

@keyframes signup-response{
  from {opacity :1;}
  to {opacity :0;}
}

@-webkit-keyframes signup-response{
  from {opacity :1;}
  to {opacity :0;}
}

//BEM ELEMENT MODIFIER  .c-contact-form__input--

[class*=contact-form__input--] {
  @extend .c-contact-form__input;
}


/*
 CONTACT FORM 7 CLASSES .wpcf7
 */
.wpcf7{
  //@extend .c-contact-form;
}
.wpcf7-text{
  @extend .c-contact-form__input;
}
.wpcf7-date{
  @extend .c-contact-form__input;
}
.wpcf7-select{
  @extend .c-contact-form__input;
  appearance: none;
  background-image:
          linear-gradient(45deg, transparent 50%, gray 50%),
          linear-gradient(135deg, gray 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
  background-position:
          calc(100% - 20px) calc(1em + 0px),
          calc(100% - 15px) calc(1em + 0px),
          calc(100% - 1.5em) 0.3em;
  background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
  background-repeat: no-repeat;

}
.wpcf7-textarea{
  @extend .c-contact-form__input;
}
.wpcf7-list-item-label{
  @extend .c-contact-form__label-text;
}

.wpcf7-submit{
  transition: background 0.3s ease;
  @extend .c-contact-form__input;
  padding:$act-unit-t;
  background: $brand-col-6;
  color: $brand-col-2;
  cursor: pointer;
  &:hover{
    background: darken($brand-col-6, 10%);
  }
}

.wpcf7-form-control-wrap{
  @extend .c-contact-form__input-wrapper;
}
