/*
  BEM BLOCK .c-product-form
 */

.c-product-form {
  display: block;
  margin-bottom: $act-unit * 1.5;
  padding-bottom: $act-unit-l;
  border-bottom: solid 3px $brand-col-6;
  @include mq($from:desktop){
    margin-bottom: 0;
  }
}

/*
  BEM BLOCK MODIFIER .c-product-form--
 */

.c-product-form-- {
  &bundle {
    display: block;
    @extend .o-box;
    padding-bottom: $act-unit;
    background: #fff;
    margin-bottom: 0;
  }
  &landing{
    padding-bottom: $act-unit;
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-product-form--

[class*=c-product-form--] {
  @extend .c-product-form;
}

/*
  BEM ELEMENTS .c-product-form__
 */

.c-product-form__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &product-price{
    margin-bottom: $act-unit-t;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &input{
    max-width: 100%;
  }
  &input-wrapper{
    display: block;
  }
  &label{
   display: none;
  }
  &select{
    @include size(100%);
    display: block;
    border: solid 3px $brand-col-2;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: $act-unit-t;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 13.4 9' enable-background='new 0 0 13.4 9' xml:space='preserve'%3E%3Cpath fill='%231D1C3B' d='M6.8,9L0.4,2.6C-0.1,2-0.1,1,0.4,0.4C1-0.1,2-0.1,2.6,0.4l4.2,4.2l4.1-4.2c0.6-0.6,1.5-0.6,2.1,0 c0.6,0.6,0.6,1.5,0,2.1L6.8,9z'/%3E%3C/svg%3E%0A");    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
    padding-left: $act-unit-s;
    @include act-font-size($inuit-font-size-h5,1);
    padding: $act-unit-s;
  }
  &add-to-bundle{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &form{
    display: block;
    @include mq($from:desktop){
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      column-gap: $act-unit-s;
      row-gap: $act-unit-s;
    }

  }
  &info-notice{
    grid-column-start: 1;
    grid-column-end: 3;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, padding 0.3s ease-in-out;
  }
  &options{
    display: block;
  }
  &submit{
    display: block;
  }
  &offer-icon{
    padding: $act-unit-s 0 $act-unit-t;
    width: 75px;
  }
  &offer-text{
    @include act-font-size($act-fs-5);
    color: $brand-col-3;
  }

}

//BEM ELEMENT MODIFIER FALLBACK .c-product-form__header--

[class*=c-product-form__header--] {
  @extend .c-product-form__header;
}

.c-product-form__header--{
  &type{

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-product-form__input-wrapper--

[class*=c-product-form__input-wrapper--] {
  @extend .c-product-form__input-wrapper;
}

.c-product-form__input-wrapper--{
  &qty{
    display: none;
    .c-product-form--bundle &{
      display: block;
      max-width: 100%;
      overflow: hidden;
    }
  }
  &select{
    @include size(100%);
  }
  &bundle-product{
    @include mq($from:desktop){
      height: auto;
    }
    margin-bottom: $act-unit-t;
    padding-bottom: $act-unit-t;
    border-bottom: solid 1px $brand-col-2;
  }
  &option-product{
    @include mq($from:desktop){
      height: auto;
    }
    margin-bottom: $act-unit-t;
    padding-bottom: $act-unit-t;
    border-bottom: solid 1px $brand-col-2;
  }

}

//BEM ELEMENT MODIFIER FALLBACK .c-product-form__label--

[class*=c-product-form__label--] {
  @extend .c-product-form__label;
}

.c-product-form__label--{
  &qty{
    display: none;
  }
  &bundle-product {
    display: block;
    height: auto;
    width: 100%;
  }
  &opiton-product {
    display: block !important;
    height: auto;
    width: 100%;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-product-form__label--

[class*=c-product-form__input--] {
  @extend .c-product-form__input;
}

.c-product-form__input--{

}


.shopify-product-form{
  .c-product-form &{
    @extend .c-product-form__form;
  }
  .c-product-form--weaning-bundle &{
    @include mq($from:desktop){
      display: flex;
      flex-wrap: wrap;
    }
  }

  .c-product-form--options-bundle &{
    @include mq($from:desktop){
      display: flex;
      flex-wrap: wrap;
      row-gap: 0;
    }
  }


}

//BEM ELEMENT MODIFIER FALLBACK .c-product-form__select--

[class*=c-product-form__select--] {
  @extend .c-product-form__select;
}

.c-product-form__select--{
  &bundle-product{
    height: auto;
    @include mq($from:desktop){
      width: 400px;
      max-width: 100%;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-product-form__options--

[class*=c-product-form__options--] {
  @extend .c-product-form__options;
}

.c-product-form__options--{
  &weaning-bundle{
    margin-bottom: $act-unit-t;
    @include mq($from:desktop){
      width: 100%;
    }
  }
  &options-bundle{
    margin-bottom: $act-unit-t;
    @include mq($from:desktop){
      width: 100%;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-product-form__product-price--

[class*=c-product-form__product-price--] {
  @extend .c-product-form__product-price;
}

.c-product-form__product-price--{
  &bundle-product{

    @include mq($from:desktop){
      width: 100%;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-product-form__submit--

[class*=c-product-form__submit--] {
  @extend .c-product-form__submit;
}

.c-product-form__submit--{
  &bundle-product{
    @include mq($from:desktop){
      width:400px;
      max-width: 50%;
    }
  }
}


.is-hidden{
  &.c-product-form__info-notice {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
  }
}

.is-shown{
  &.c-product-form__info-notice {
    max-height: 6em;
    overflow: hidden;
    opacity: 1;
  }
}

.c-product-form__input-wrapper--qty-bundle-product{
  margin-bottom: $act-unit;
  @include mq($from:desktop){
    margin-bottom: 0;
    width: 200px;
    max-width: 120%;
    margin-right: $act-unit;
  }
  .js-qty{
    @include mq($from:desktop){
      height: 100%;
    }
  }
  .js-qty__num{
    border-radius: $act-unit-t;
    border: solid 3px $brand-col-2;
    width: 100%;
    padding: $act-unit-s 0;
   @include act-font-size($act-fs-5, 1);
    @include mq($from:desktop){
      padding: 0;
    }
  }

}
