/*
  BEM BLOCK .c-quote
 */

.c-quote{
display: block;
  border-left: none;
  margin-left: 0;
  padding-left: 0;
  width: 100%;

  .u-bgc-2 &{
    color: #fff !important;
  }
}

/*
  BEM BLOCK MODIFIER .c-quote--
 */

.c-quote-- {
  &pull1 {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-quote--

[class*=c-quote--] {
  @extend .c-quote;
}

/*
  BEM ELEMENTS .c-quote__
 */

.c-quote__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &icon{
    display: none;
  }
  &blockquote{
    display: block;
  };
  &body{
    display: block;
  }
  &cite{
    display: block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-quote__blockquote--

[class*=c-quote__header--] {
  @extend .c-quote__header;
}

//BEM ELEMENT MODIFIER FALLBACK .c-quote__blockquote--

[class*=c-quote__blockquote--] {
  @extend .c-quote__blockquote;
}

.c-quote__blockquote--{
  &pull1{
    border: none;
    padding-left: 0;
    margin-left: 0;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-quote__body--

[class*=c-quote__blockquote--] {
  @extend .c-quote__body;
}

.c-quote__body--{
  &pull1 {
    font-family: $act-font-family-headings;
    font-weight: 700;
    padding-left: $act-unit;
    p{
      margin-bottom: $act-unit-s;
      &:last-child{
        margin-bottom: $act-unit-t !important;
      }
    }
    &:before{
      content: open-quote;
      display: block;
      @include act-font-size($act-fs-k, 0);
      margin-left: - $act-unit;
      margin-top: $act-unit;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-quote__cite--

[class*=c-quote__cite--] {
  @extend .c-quote__cite;
}

.c-quote__cite--{
  &pull1 {
    padding-left: $act-unit;
    font-style: normal;
  }
}


