/*
  BEM BLOCK .c-btn
 */

.c-btn {
 @extend .o-btn;
}

/*
  BEM BLOCK MODIFIER .c-btn--
 */

.c-btn-- {
  &subscribe-submit{
    @extend .o-btn--small;
    @extend .o-btn--full;
    @extend .o-btn--bg5;
    color: $brand-col-2;
    border-radius: 0 $act-unit-s $act-unit-s 0 ;
    height: 100%;
  }
  &content-block{
    border-radius:  $act-unit-t;
    background: transparent;
    border: solid ;
    margin: 0 auto;
    padding-top: $act-unit-s;
    padding-bottom: $act-unit-s;
    &:hover,&:focus{
      background: rgba(white, 0.5);
      color: white;
    }
  }
  &mobile-nav-close{
    @extend .o-btn--small;
    @extend .o-btn--transparent;
    @extend .o-btn--flush;
    color: $brand-col-2;
  }
  &search-submit{
    @extend .o-btn--transparent;
    @extend .o-btn--tiny;
    colour: $brand-col-2;
  }
  &search-close{
    @extend .o-btn--transparent;
    @extend .o-btn--tiny;
    colour: $brand-col-2;
  }
  &collection-thumb{
    @extend .c-btn;
    @extend .c-btn--content-block;
    color: $brand-col-2;
    min-width: 200px;
    &:hover, &:focus{
      @extend .c-btn--content-block;
      color: $brand-col-2;
    }
  }
  &product-thumb{
     @extend .c-btn;
     @extend .c-btn--content-block;
     color: $brand-col-2;
     min-width: 200px;
     padding-top: $act-unit-s;
     padding-bottom: $act-unit-s;
     &:hover{
       color: $brand-col-2;
     }
   }
  &thumb{
    @extend .c-btn;
    @extend .c-btn--content-block;
    color: $brand-col-2;
    min-width: 200px;
    padding-top: $act-unit-s;
    padding-bottom: $act-unit-s;
    &:hover{
      color: $brand-col-2;
    }
  }
  &product-form-submit{
    @extend .c-btn;
    @extend .c-btn--content-block;
    @extend .o-btn--full;
    color: white;
    background: $brand-col-3;
    @include act-font-size($act-fs-5,1);
    border-radius: $act-unit-t;
    border: solid 3px $brand-col-3;
    &:hover,&:focus{
      background: darken($brand-col-3, 10%) !important;
      color: white;
    }
  }
  &add-to-bundle{
    @extend .c-btn;
    @extend .c-btn--content-block;
    @extend .o-btn--full;
    @extend .o-btn--transparent;
    color: $brand-col-3;
    @include act-font-size($act-fs-5,1);
    border-radius: $act-unit-t;
    border: solid 3px $brand-col-3;
    &:hover,&:focus{

      color: $brand-col-3;
    }
  }
  &collection-list-2{
    @extend .c-btn;
    @extend .c-btn--content-block;
    color: $brand-col-3;
    min-width: 200px;
    padding-top: $act-unit-s;
    padding-bottom: $act-unit-s;
    &:hover{
      color: $brand-col-3;
    }
  }
  &buy-bundle{
    @extend .c-btn--product-form-submit;
  }
  &product-bundle-link{
    @extend .c-btn;
    @extend .c-btn--content-block;
    @extend .o-btn--full;
    color: $brand-col-3;
    @include act-font-size($act-fs-5,1);
    &:hover, &:focus{
      background: lighten($brand-col-3, 20%);
      color: white;
      border-color: $brand-col-3;
    }
  }
  &block{
    @extend .o-btn--transparent;
    @extend .o-btn--full;
    color: $brand-col-3;
    font-family: $act-font-family-headings;
    font-weight: 700;
    text-align: center;
    border: solid 3px $brand-col-3;
  border-radius: $act-unit-t;
    &:hover{
      @extend .o-btn--transparent;
      @extend .o-btn--full;
      color: $brand-col-3;
      border: solid 3px $brand-col-3;
    }
  }
  &block-care{
     @extend .o-btn--transparent;
     @extend .o-btn--full;
     color: $brand-col-2;
     font-family: $act-font-family-headings;
     font-weight: 700;
     padding: $act-unit 0;
     text-align: center;
   }
  &block-benefits{
    @extend .c-btn--block-care;
  }
  &product-back{
    @extend .o-btn--icon-left;
    @extend .o-btn--transparent;
    color: $brand-col-5;
    font-family: $act-font-family-headings;
    font-weight: 700;
    &:hover, &:focus{
      color: darken($brand-col-5, 10%);
      @extend .o-btn--icon-left;
      @extend .o-btn--transparent;
    }
    & > :first-child{
      transform: rotateZ(90deg);
    }
  }
  &cart-update{
    @extend .o-btn--flush;
    @extend .o-btn--tiny;
    @extend .o-btn--transparent;
    color: $brand-col-2;
    &:hover, &:focus{
      color: $brand-col-2;
      @extend .o-btn--transparent;
      @extend .o-btn--tiny;
    }
  }
  &cart-remove{
    padding: 3px;
    @extend .o-btn--transparent;
    color: #ccc;
    border-radius: 50%;
    border: solid 1px;
    &:hover, &:focus{
      padding: 3px;
      @extend .o-btn--transparent;
      color: #ccc;
      border: solid 1px;

    }
  }
  &cart-submit{
    @extend .o-btn--full;
    background: white;
    color: $brand-col-2;
    border:solid 3px;
    border-radius: $act-unit-s;
    font-family: $act-font-family-headings;
    font-weight: 700;
    &:hover, &:focus{
      @extend .o-btn--full;
      background: white;
      color: $brand-col-2;
      border:solid 3px;
    }
  }
  &reviews-cta{
    @extend .o-btn--full;
    @extend .o-btn--transparent;
    color: $brand-col-2;
    border-radius: $act-unit-s;
    border:solid 3px;
    font-family: $act-font-family-sans;
    &:hover, &:focus{
      @extend .o-btn--full;
      @extend .o-btn--transparent;
      border-radius: $act-unit-s;
      color: $brand-col-2;
      border:solid 3px;
      background: rgba(#fff, 0.3);
    }
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-btn--

[class*=c-btn--] {
  @extend .c-btn;
}

/*
  BEM ELEMENTS .c-btn__
 */

.c-btn__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &label{
    display: inline;
  }
  &icon{
    display: block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-btn__header--

[class*=c-btn__header--] {
  @extend .c-btn__header;
}

//BEM ELEMENT MODIFIER FALLBACK .c-btn__label--

[class*=c-btn__label--] {
  @extend .c-btn__label;
}

.c-btn__label--{
  &mobile-nav-close{
    display: none;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-btn__icon--

[class*=c-btn__icon--] {
  @extend .c-btn__icon;
}

.c-btn__icon--{
  &mobile-nav-close{
    &:hover, &:focus{
      color: $brand-col-3;
    }
  }
}

