/*
  BEM BLOCK .c-content-block
 */

.c-content-block {
  padding-top: $act-unit;
  padding-bottom: $act-unit;
  display: flex;
  flex-direction: column;

  justify-content: center;
  &.has-image-pos-below-text{
    padding-bottom: 0;
  }

  &.has-footer-image{
    padding-bottom: 200px;
  }
}

/*
  BEM BLOCK MODIFIER .c-content-block--
 */

.c-content-block-- {
  &quote{
    text-align: center;
    padding-bottom: $act-unit-l;
  }
  &dribble-bib{
    @include mq($from : desktop){
    }
  }
  &collection-list-1{
     text-align: center;
     padding-bottom: $act-unit-l;
     margin-bottom: $act-unit;
   }
  &collection-list-2{
    text-align: center;
    padding-bottom: $act-unit-l;
    margin-bottom: 0;
  }
  &product{
    padding: $act-unit-t $act-unit 0;
  }
  &charity{
    background: $brand-col-5;
    padding: $act-unit $act-unit;
    margin-bottom: $act-unit;
  }
  &features{
    padding: $act-unit-t $act-unit 0;
    margin-bottom: $act-unit-s;
    &:after{
      content : '';
      display: block;
      margin-top: $act-unit;
      border-bottom: solid 3px $brand-col-6;
    }

  }
  &care{
    padding: $act-unit-t $act-unit 0;
    margin-bottom: $act-unit-s;
  }
  &how-it-works{
    padding: $act-unit-t $act-unit 0;
    margin-bottom: $act-unit-s;
    &:after{
      content : '';
      display: block;
      margin-top: $act-unit;
      border-bottom: solid 3px $brand-col-6;
    }
  }
  &benefits{
    padding: $act-unit-t $act-unit 0;
    margin-bottom: $act-unit-s;
  }
  &safety{
    padding: $act-unit-t $act-unit 0;
    margin-bottom: $act-unit-s;
    &:after{
      content : '';
      display: block;
      margin-top: $act-unit;
      border-bottom: solid 3px $brand-col-6;
    }
  }
  &btn{
    background: #000;
    margin-bottom: $act-unit !important;
    display: none !important;
  }
}

// BEM BLOCK MODIFIER FALLBACK .c-content-block--

[class*=c-content-block--] {
  @extend .c-content-block;
}

/*
  BEM ELEMENTS .c-content-block__
 */

.c-content-block__ {
  &header {
    display: block;
    margin-bottom: $act-unit-s;
  }

  &heading {
    display: block;
    margin-bottom: 0;
    //color: $brand-col-1;
    font-weight: 500;
    .is-heading-hidden &{
      @include inuit-hidden-visually;
    }
  }

  &title {
    display: inline;
  }


  &content {
    display: block
  }

  &footer {
    display: block;
    text-align: center;
  }

  &image{
    margin-bottom: $act-unit;
    .is-image-layout-hidden &{
      display: none !important;
    }
    &.is-pos-above-header{
      order: -1;
    }
    &.is-pos-below-text{
      order: 3;
      margin-bottom: 0;
    }
  }

  &link{
   display: inline;
  }

  &link-thumb{
    text-decoration: none;
    color: white;
  }

  &sub-heading{
    font-weight: 300;
    font-family: $act-font-family-sans;
  }

  &logo{
    margin-bottom: 0 !important;
    max-width: 200px;
    margin: 0 auto $act-unit;
  }

  &block-image{
    position: absolute;
    left: -24px;
    bottom: 0;
    width: 200px;
  }

  &img{
    max-width: none;
  }

  &btn{
    display: block;
    //margin-bottom: $act-unit;
  }

  &body{
    margin-bottom: $act-unit;
    > *:last-child{
      margin-bottom: 0;
    }
    .c-content-block__btn:first-child{
      margin-top: $act-unit;
    }
  }

  &icon{
    text-align: center;
  }

}

// BEM ELEMENT MODIFIER FALLBACK .c-content-block__header--

[class*=c-content-block__header--] {
  @extend .c-content-block__header;
}

.c-content-block__header--{
  &quote{
    margin-bottom: $act-unit;
  }
}
// BEM ELEMENT MODIFIER FALLBACK .c-content-block__heading--

[class*=c-content-block__heading--] {
  @extend .c-content-block__heading;
}

.c-content-block__heading--{
  &quote{
    color: $brand-col-4;
  }
  &product{
    color: $brand-col-2;
    margin-bottom: $act-unit;
  }
  &features{
    color: $brand-col-2;
    margin-bottom: $act-unit;
  }
  &how-it-works{
    color: $brand-col-2;
    margin-bottom: $act-unit;
  }
  &care{
    color: $brand-col-2;
    margin-bottom: $act-unit;
  }
  &benefits{
    color: $brand-col-2;
    margin-bottom: $act-unit;
  }
  &safety{
    color: $brand-col-2;
    margin-bottom: $act-unit;
  }
  &static-page{
    color: $brand-col-2;
    text-align: center;
    @include act-font-size($act-fs-1);
  }
}

// BEM ELEMENT MODIFIER FALLBACK .c-content-block__link--

 [class*=c-content-block__link--] {
   @extend .c-content-block__link;
 }

 .c-content-block__link--{
   &btn{
     display: block;
     @extend .c-btn;
     @extend .c-btn--content-block;
     padding-left: $act-unit-t;
     padding-right: $act-unit-t;
   }
   &block{
     display: flex;
     flex-direction: column;
     text-decoration: none;
   }

 }

// BEM ELEMENT MODIFIER FALLBACK .c-content-block__sub-heading--

[class*=c-content-block__sub-heading--] {
  @extend .c-content-block__sub-heading;
}

.c-content-block__sub-heading--{
  &collection-list-2{
    font-family: $act-font-family-headings;
    font-weight: 500;
  }
}

// BEM ELEMENT MODIFIER FALLBACK .c-content-block__img--

[class*=c-content-block__img--] {
  @extend .c-content-block__img;

}

.c-content-block__img--{
  &charity{
    max-width: 200px !important;
  }
}

// BEM ELEMENT MODIFIER FALLBACK .c-content-block__btn--

[class*=c-content-block__btn--] {
  @extend .c-content-block__btn;

}

.c-content-block__btn--{
  &care{
    @include breakout-band($bgc : $brand-col-4);
  }
  &benefits{
    @include breakout-band($bgc : $brand-col-1);
  }
}

// BEM ELEMENT MODIFIER FALLBACK .c-content-block__icon--

[class*=c-content-block__icon--] {
  @extend .c-content-block__icon;

}

.c-content-block__icon--{
  &scroll{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
    cursor: pointer;
  }
}

/*
  BEM ATTRIBUTES
 */

.is-text-layout-center{
  text-align: center;
}

.is-video{
  &.c-content-block--product{
    padding: 0;
  }
}
