/*
  BEM BLOCK .c-icon-thumb
 */

.c-icon-thumb {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/*
  BEM BLOCK MODIFIER .c-icon-thumb--
 */

.c-icon-thumb-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-icon-thumb--

[class*=c-icon-thumb--] {
  @extend .c-icon-thumb;
}

/*
  BEM ELEMENTS .c-icon-thumb__
 */

.c-icon-thumb__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &icon{
    width: 70px;
    max-width: 100%;
    margin-bottom: $act-unit;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: flex;
    align-items: center;
    @include mq($from:tablet){
      width:120px;
      height: 160px;
    }
  }
  &title{
    width: 100%;
    text-align: center;
    @include act-font-size($act-fs-5, 1.3);
    align-self: flex-end;
    color: $brand-col-2;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-icon-thumb--

[class*=c-icon-thumb__header--] {
  @extend .c-icon-thumb__header;
}

//BEM ELEMENT MODIFIER FALLBACK .c-icon-thumb__icon--

[class*=c-icon-thumb__icon--] {
  @extend .c-icon-thumb__icon;
}

.c-icon-thumb__icon--{
  &double_dribble_tuck_in_a_layer_to_protect_little_tops-15-png{
    width: 110px;
    @include mq($from:desktop){
      width: 150px;
    }
  }
}
