/*
  BEM BLOCK .c-content-block
 */

.c-content-block {
  padding-top: $act-unit;
  padding-bottom: $act-unit;
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  justify-content: center;
  &.has-image-pos-below-text{
    padding-bottom: 0;
  }
}

/*
  BEM BLOCK MODIFIER .c-content-block--
 */

.c-content-block-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-content-block--

[class*=c-content-block--] {
  @extend .c-content-block;
}

/*
  BEM ELEMENTS .c-content-block__
 */

.c-content-block__ {
  &header {
    display: block
  }

  &heading {
    display: block;
    margin-bottom: $act-unit-s;
    //color: $brand-col-1;
    font-weight: 700;
    .is-heading-hidden &{
      @include inuit-hidden-visually;
    }
  }

  &title {
    display: inline;
  }


  &content {
    display: block
  }

  &footer {
    display: block;
    text-align: center;
  }
  &image{
    margin-bottom: $act-unit;
    .is-image-layout-hidden &{
      display: none !important;
    }
    &.is-pos-above-header{
      order: -1;
    }
    &.is-pos-below-text{
      order: 3;
      margin-bottom: 0;
    }
  }
  &link{
    @extend .c-btn;
    @extend .c-btn--content-block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-content-block--

[class*=c-content-block__header--] {
  @extend .c-content-block__header;
}

.is-text-layout-center{
  text-align: center;
}
