/*
  BEM BLOCK .c-nav-menu
 */

.c-nav-menu {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-nav-menu--
 */

.c-nav-menu-- {
  &main {
    display: none;
    @include mq($from : desktop){
      display: block;
      @include act-font-size($act-fs-5);
    }
  }
  &mobile{
    @include act-font-size($act-fs-5);
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-nav-menu--

[class*=c-nav-menu--] {
  @extend .c-nav-menu;
}

/*
  BEM ELEMENTS .c-nav-menu__
 */

.c-nav-menu__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: flex;
    text-decoration: none;
    position: relative;
    padding: $act-unit-t;
  }

  &list{
    @extend .o-list-bare;
    display: flex;
    justify-content: center;
  }
  &item{
    display: block;
    @extend .o-list-bare__item;
    margin-left: 12%;
    position: relative;
    &:first-child{
      margin-left: 0;
    }
  }
  &label{
    white-space: nowrap;
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &icon{
    margin-left: $act-unit-s;
    width: $act-unit-s;
  }
  &nav-thumb{
    width: 100%;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu--

[class*=c-nav-menu__header--] {
  @extend .c-nav-menu__header;
}


//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__list--

[class*=c-nav-menu__list--] {
  @extend .c-nav-menu__list;
}

.c-nav-menu__list--{
  &social{
    @include mq($from: desktop){
      text-align: left;
      justify-content: flex-start;
    }
  }
  &mobile{
    flex-direction: column;
  }
  &footer{
    flex-direction: column;
    align-items: center;
    @include mq($from:desktop){
      display: block !important;
      column-count: 2;
    }
  }
  &blog{
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  &sub-list{
      &[data-state=off]{
        display: none;
      }
      flex-direction: column;
      @include mq($from: desktop){
        position: absolute;
        background: $brand-col-2;
        padding: $act-unit-s;
        border: solid 1px rgba(white, 0.2);
        box-shadow: 0px 2px  5px rgba(#000, 0.5);
        margin-left: -1px;
      }

    }
  &mobile-sub{
    &[data-state=off]{
      display: none;
    }
    //background: rgba(#fff, 0.5);
    flex-direction: column;
    margin-left: $act-unit-s;

    @include mq($from: desktop){
      position: absolute;
      background: $brand-col-2;
      padding: $act-unit-s;
      border: solid 1px rgba(white, 0.2);
      box-shadow: 0px 2px  5px rgba(#000, 0.5);
      margin-left: -1px;
    }


    ul{
      margin-left: 0;
    }

  }
  &shop{
    @include mq($from: desktop){
      height: 213px !important;
      border-radius: $act-unit-t 0 0 $act-unit-t;
    }

  }
  &main-sub{
    &[data-state=off]{
      display: none;
    }
    //background: rgba(#fff, 0.5);
    flex-direction: column;
    margin-left: $act-unit-s;

    @include mq($from: desktop){
      position: absolute;
      background: $brand-col-2;
      padding: $act-unit * 1.5 $act-unit;
      //border: solid 1px rgba(white, 0.2);
      box-shadow: 0px 0px  7px rgba(#000, 0.3);
      //margin-left: -1px;
      left: -$act-unit * 1.5;
    }

    ul{
      margin-left: 0;
    }

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__item--

[class*=c-nav-menu__item--] {
  @extend .c-nav-menu__item;
}

.c-nav-menu__item--{
  &social{
      @include size($act-unit-l);
   @include mq($from:desktop){
     margin-right: $act-unit !important;
   }
  }
  &mobile{
    padding: 0;
    margin-bottom: $act-unit-t;
    font-family: $act-font-family-body;
    font-weight: 700;
    margin-left: 0;
  }
  &mobile-sub{
    padding: 0;
    margin-bottom: $act-unit-t;
    font-family: $act-font-family-body;
    font-weight: 700;
    margin-left: 0;
    .c-nav-menu__item--mobile-sub{
     @include act-font-size($act-fs-6);
      width: 150px;
    }
  }
  &main-sub{
    padding: 0;
    margin-bottom: $act-unit-t / 2;
    font-family: $act-font-family-body;
    font-weight: 500;
    margin-left: 0;
    @include act-font-size($act-fs-6);
    position: static;
    .c-nav-menu__item--main-sub{
      @include act-font-size($act-fs-6);
      width: 150px;
    }
  }
  &blog{
    transition: background 0.3s ease-in-out;
    width: 50%;
    text-align: center;
    margin-left: 0 !important;
    &.is-current{
      background: $brand-col-1;
    }
    &:hover, &:focus{
      background: $brand-col-1;
    }
  }
  &footer{
    margin-left: 0 !important;
  }
  &sub-item{
    margin-left: 0;
  }
  &see-all{
    width: 100% !important;
    text-align: left;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__link--

[class*=c-nav-menu__link--] {
  @extend .c-nav-menu__link;
}

.c-nav-menu__link--{
  &footer{
    @include a($col : $brand-col-3);
  }
  &mobile{
    @include a($col: $brand-col-2, $col-hov: $brand-col-3);
    display: inline-flex;
    padding: $act-unit-t;
    &[data-state=on]{
      //background: rgba(white, 0.5);
      color: $brand-col-3;
    }
  }
  &mobile-sub{
    @include a($col : $brand-col-2);
    padding: $act-unit-t;
    //height: 100%;
    &:hover, &:focus, &[data-state=on]{
      color: $brand-col-3 !important;
    }
  }
  &blog{
    transition: color 0.3s ease-in-out;
    &.is-current{
      color: $brand-col-2;
      font-weight: 700;
    }
    &:hover{
      color: $brand-col-2;
    }
    @include mq($from:desktop){
      justify-content: center;
    }
  }
  &main{
    @include a($col: $brand-col-1, $col-hov: $brand-col-3);
    font-weight: 700 !important;
    &[data-state=on]{
      //border: solid 1px rgba(white, 0.2);
      border-bottom: none;
      position: relative;
      margin: -1px;
      background: transparent;
      z-index: 9;
      color: $brand-col-3;
    }
  }
  &main-sub{
    @include a($col: white, $col-hov: $brand-col-3);
    padding: $act-unit-t / 2;
  }
  &sub-link{
    @include a($col: $brand-col-1, $col-hov: $brand-col-3);
  }
  &see-all{
    @include a($col: $brand-col-3, $col-hov: $brand-col-3);
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__label--

[class*=c-nav-menu__label--] {
  @extend .c-nav-menu__label;
}

.c-nav-menu__label--{
  &mobile{
    @include act-font-size($act-fs-3);
  }
}



//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__icon--

[class*=c-nav-menu__icon--] {
  @extend .c-nav-menu__icon;
}

.c-nav-menu__icon--{
  &arrow-down{
    transition: transform 0.3s ease-in-out;
    a[data-state=on] &{
      transform: rotateX(180deg);
    }
    .c-nav-menu__item--main-sub &{
      a[data-state=on] &{
        transform: rotateX(0deg) !important;
      }
    }
  }
  &angle-down{
    width: $act-unit / 1.5;
    transition: transform 0.3s ease-in-out;
    @include mq($from : desktop){
      width: $act-unit-s / 1.5;
      margin-left: $act-unit-t;
      position: relative;
      top: 1px;
    }
    .c-nav-menu__item--mobile-sub &{
      width:  $act-unit-s;
    }
    a[data-state=on] &{
      transform: rotateX(180deg);
    }
      a.c-nav-menu__link--main-sub[data-state=on] &{
        transform: rotateX(0deg) !important;
        transform: rotateZ(-90deg) !important;
      }

  }
  &arrow-left-alt{
    color: $brand-col-3;
    transform: rotateZ(180deg);
    width: $act-unit / 1.5;
    transition: transform 0.3s ease-in-out;
    margin-left: 0px !important;
    margin-right: $act-unit-t;
    //@include mq($from : desktop){
    //  width: $act-unit-s / 1.5;
    //  margin-left: $act-unit-t;
    //  position: relative;
    //  top: 1px;
    //}
    .c-nav-menu__item--mobile-sub &{
      width:  $act-unit-s;
    }



  }
}

.c-nav-menu__list--mobile-sub[data-state=on]{
  .c-nav-menu__item--mobile-sub{
    //min-height: 100%;

  }
  .c-nav-menu__link--mobile-sub{
    //min-height: 100%;
  }

}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu--

[class*=c-nav-menu__nav-thumb--] {
  @extend .c-nav-menu__nav-thumb;
}


.c-nav-menu__list--main-sub {
  min-width: 200px;
  .c-nav-menu__list--main-sub{
    background: white !important;
    left: 100%;
    width: 560px;
    top:0;
    border-radius: 0 $act-unit-t $act-unit-t 0;
    padding: $act-unit;
    &.flickity-enabled {
      position: absolute;
    }
    &[data-state=on]{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .c-nav-menu__item--main-sub{
      width: 30%;
      @include mq($from: desktop){
        width: 120px;
      }
    }
  }
}
