/*
  BEM BLOCK .c-video-popup
 */

.c-video-popup {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-video-popup--
 */

.c-video-popup-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-video-popup--

[class*=c-video-popup--] {
  @extend .c-video-popup;
}

/*
  BEM ELEMENTS .c-video-popup__
 */

.c-video-popup__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &cover{
    position: relative;
  }
  &icon{
    position: absolute;
    top: 50%;
    left: 50%;
    @include size(75px);
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-video-popup--

[class*=c-video-popup__header--] {
  @extend .c-video-popup__header;
}
