/*
  BEM BLOCK .c-member-thumb
 */

.c-member-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
  BEM BLOCK MODIFIER .c-member-thumb--
 */

.c-member-thumb-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-member-thumb--

[class*=c-member-thumb--] {
  @extend .c-member-thumb;
}

/*
  BEM ELEMENTS .c-member-thumb__
 */

.c-member-thumb__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &image{
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: $act-unit;
    border:solid 3px;
    .l-thumb-list__item:nth-child(4n - 3) &{
      border-color: $brand-col-1;
      .l-thumb-list__list--more &{
        border-color: $brand-col-5 !important;
      }
    }
    .l-thumb-list__item:nth-child(2n) &{
      border-color: $brand-col-3;
      .l-thumb-list__list--more &{
        border-color: $brand-col-1 !important;
      }
    }
    .l-thumb-list__item:nth-child(3n) &{
      border-color: $brand-col-4;
      .l-thumb-list__list--more &{
        border-color: $brand-col-3 !important;
      }
    }
    .l-thumb-list__item:nth-child(4n) &{
      border-color: $brand-col-5;
      .l-thumb-list__list--more &{
        border-color: $brand-col-4 !important;
      }
    }
  }
  &img{
    display: block;
    object-fit: cover;
    @include size($act-unit-l * 5);
  }
  &name{
    font-weight: 700 !important;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-member-thumb--

[class*=c-member-thumb__header--] {
  @extend .c-member-thumb__header;
}
