/*
  BEM BLOCK .c-product-price
 */

.c-product-price {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-product-price--
 */

.c-product-price-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-product-price--

[class*=c-product-price--] {
  @extend .c-product-price;
}

/*
  BEM ELEMENTS .c-product-price__
 */

.c-product-price__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &price{
    font-weight: 700;
    color: $brand-col-3;
    margin-right: $act-unit-s;
  }
  &compare-price{
    color: #ccc;
    margin-right: $act-unit-s;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-product-price__header--

[class*=c-product-price__header--] {
  @extend .c-product-price__header;
}

//BEM ELEMENT MODIFIER FALLBACK .c-product-price__header--

[class*=c-product-price__compare-price--] {
  @extend .c-product-price__compare-price;
}

