/*
  BEM BLOCK .c-info-notice
 */

.c-info-notice {
  display: block;
  text-align: center;
  margin-bottom: 0;
  border-radius: 2px;
  //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*
  BEM BLOCK MODIFIER .c-info-notice--
 */

.c-info-notice-- {
  &type {
    display: block
  }
  &dispatch-date{
    background: rgba($brand-col-3, 0.5);
    border-radius: 0;
    padding: $act-unit-t 0;
    color: white;
    @include act-font-size($act-fs-5);
    @include mq($from:desktop){
      @include act-font-size($act-fs-4);
    }
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-info-notice--

[class*=c-info-notice--] {
  @extend .c-info-notice;
}

/*
  BEM ELEMENTS .c-info-notice__
 */

.c-info-notice__ {
  &header {
    display: block;
    margin-bottom: $act-unit;
    color: $brand-col-2;
    font-size: 1rem;
    text-align: center;
    background: transparent;
  }

  &heading {
    display: block;
    margin-bottom: 0;
    color: $brand-col-2;
    @include act-font-size($act-fs-2);
    font-weight: 700;
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block;
    background: white;
    color: $brand-col-2;
  }

  &footer {
    display: block
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-info-notice--

[class*=c-info-notice__header--] {
  @extend .c-info-notice__header;
}


