/*
  BEM BLOCK .c-site-title
 */

.c-site-title {
  display: block;
  margin: 0;
  @include size(50px);
  @include mq($from: tablet){
    width: 130px;
    height: auto;
  }
}

/*
  BEM BLOCK MODIFIER .c-site-title--
 */

.c-site-title-- {
  &type {
    display: block
  }
  &footer{
    @include size(90px);
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-site-title--

[class*=c-site-title--] {
  @extend .c-site-title;
}

/*
  BEM ELEMENTS .c-site-title__
 */

.c-site-title__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: block;
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &img{
    display: block;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-site-title__header--

[class*=c-site-title__header--] {
  @extend .c-site-title__header;
}

.c-site-title__header--{

}

//BEM ELEMENT MODIFIER FALLBACK .c-site-title__img--

 [class*=c-site-title__img--] {
   @extend .c-site-title__img;
 }

.c-site-title__img--{
  &mob{
    @include mq($from: tablet){
      display: none;
    }
  }
  &desk{
    display: none;
    @include mq($from: tablet){
      display: block;
    }
  }
}
