/*
  BEM BLOCK .c-thumb
 */

$act-item-width : 600px;

.c-thumb {
  display: block;
  padding: $act-unit-s;
    background: $brand-col-4;
}

/*
  BEM BLOCK MODIFIER .c-thumb--
 */

.c-thumb-- {
  &type {
    display: block
  }
  &search-result{
    background: $brand-col-2;
    padding: 0;
  }
  &blog{
    background: white;
    padding: 0;
    @include mq($from:desktop){
      display: flex;
    }
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-thumb--

[class*=c-thumb--] {
  @extend .c-thumb;
}

/*
  BEM ELEMENTS .c-thumb__
 */

.c-thumb__ {
  &header {
    display: block;
    @include mq($from:desktop){
      width: $act-item-width;
      max-width: 100%;
    }
  }

  &heading {
    display: block;
    @include act-font-size($act-fs-3,1);
    font-weight: 700;
    margin-bottom: 0;
    @include mq($from:desktop){
      width: $act-item-width;
      max-width: 100%;
      @include act-font-size($act-fs-k,1);
      margin-bottom: $act-unit;
    }
  }

  &title {
    display: inline;
  }

  &link-title{
    text-decoration: none;
    @include a($col:$brand-col-2,$col-hov:$brand-col-2);
  }

  &link {
    display: inline;
  }
  &link-image{
    margin: 0;
    @include mq($from:desktop){
      width: $act-item-width;
      max-height: $act-item-width;
      height: calc(50vw - $act-unit-l);
      max-width: 100%;
      display: block;
      overflow: hidden;
    }
  }
  &link-read-more{
    @include a($col : $brand-col-2);
  }
  &feature-image{
    margin-bottom: $act-unit;
    @include mq($from:desktop){
      width: 50%;
      padding-right: $act-unit;
    }
  }
  &meta{
    color: $brand-col-2;
    @include mq($from:desktop){
      width: $act-item-width;
      max-width: 100%;
      margin-bottom: $act-unit;
    }
  }

  &content {
    display: block;
    @include mq($from:desktop){
      width: 50%;
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      align-items: flex-end;
      justify-content: center;
      padding-left: $act-unit;
    }
  }

  &footer {
    display: block
  }
  &info{
  display: block;
    @include mq($from:desktop){
      width: $act-item-width;
      max-width: 100%;
    }
}
  &excerpt{
    color: $brand-col-2;
    p{
      margin-bottom: $act-unit-t;
    }
    >*:last-child{
      margin-bottom: 0;
    }

  }

  &btn{
    text-align: center;
    padding: $act-unit-s 0;
    margin: $act-unit-s 0;

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-thumb--

[class*=c-thumb__header--] {
  @extend .c-thumb__header;
}

//BEM ELEMENT MODIFIER FALLBACK .c-thumb__info--

[class*=c-thumb__info--] {
  @extend .c-thumb__info;
}


.c-thumb__info--{
  &search-result{
    background: #fff;
    padding: $act-unit-s;
  }
  &blog{

  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-thumb__feature-image--

[class*=c-thumb__feature-image--] {
  @extend .c-thumb__feature-image;
}


.c-thumb__feature-image--{
  &search-result{
    margin-bottom: 0;
    padding: $act-unit-s;
  }
  &blog{
    @include mq($from:desktop){
      width: 50%;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-thumb__content--

[class*=c-thumb__content--] {
  @extend .c-thumb__content;
}


.c-thumb__content--{
  &blog{
    padding: 0 $act-unit;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-thumb__feature-image--

[class*=c-thumb__btn--] {
  @extend .c-thumb__btn;
}


.c-thumb__btn--{
  &search-result{
    margin-bottom: 0;
    padding: $act-unit-s;
  }
  &blog{
    display: none;
  }
}
