/*
  BEM BLOCK .c-nav-menu
 */

.c-nav-menu {
  display: block;
}

/*
  BEM BLOCK MODIFIER .c-nav-menu--
 */

.c-nav-menu-- {
  &main {
    display: none;
    @include mq($from : desktop){
      display: block;
      @include act-font-size($act-fs-5);
    }
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-nav-menu--

[class*=c-nav-menu--] {
  @extend .c-nav-menu;
}

/*
  BEM ELEMENTS .c-nav-menu__
 */

.c-nav-menu__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: flex;
    text-decoration: none;
    position: relative;
  }

  &list{
    @extend .o-list-bare;
    display: flex;
    justify-content: center;
  }
  &item{
    display: block;
    @extend .o-list-bare__item;
    padding: $act-unit-t;
    margin-left: $act-unit-s;
    &:first-child{
      margin-left: 0;
    }
  }
  &label{
    white-space: nowrap;
  }
  &content {
    display: block
  }
  &footer {
    display: block
  }
  &icon{
    margin-left: $act-unit-t;
    width: $act-unit-s;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu--

[class*=c-nav-menu__header--] {
  @extend .c-nav-menu__header;
}


//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__list--

[class*=c-nav-menu__list--] {
  @extend .c-nav-menu__list;
}

.c-nav-menu__list--{
  &social{
    @include mq($from: desktop){
      text-align: left;
      justify-content: flex-start;
    }
  }
  &mobile{
    flex-direction: column;
  }
  &footer{
    flex-direction: column;
    @include mq($from:desktop){
      display: block !important;
      column-count: 2;
    }
  }
  &blog{
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  &sub-list{
    &[data-state=off]{
      display: none;
    }
    flex-direction: column;
    position: absolute;
    background: $brand-col-2;
    padding: $act-unit-s;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__item--

[class*=c-nav-menu__item--] {
  @extend .c-nav-menu__item;
}

.c-nav-menu__item--{
  &social{
      @include size($act-unit-l);
   @include mq($from:desktop){
     margin-right: $act-unit !important;
   }
  }
  &mobile{
    padding: 0;
    margin-bottom: $act-unit-t;
    font-family: $act-font-family-headings;
  }
  &blog{
    transition: background 0.3s ease-in-out;
    width: 50%;
    text-align: center;
    &.is-current{
      background: $brand-col-1;
    }
    &:hover, &:focus{
      background: $brand-col-1;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__link--

[class*=c-nav-menu__link--] {
  @extend .c-nav-menu__link;
}

.c-nav-menu__link--{
  &footer{
    @include a($col : $brand-col-3);
  }
  &mobile{
    @include a($col : $brand-col-2);
    padding: $act-unit-t;
    display: block;
    &:hover, &:focus{
      color: $brand-col-2;
    }
  }
  &blog{
    transition: color 0.3s ease-in-out;
    &.is-current{
      color: $brand-col-2;
      font-weight: 700;
    }
    &:hover{
      color: $brand-col-2;
    }
  }
}


//BEM ELEMENT MODIFIER FALLBACK .c-nav-menu__icon--

[class*=c-nav-menu__icon--] {
  @extend .c-nav-menu__icon;
}
