/*
  BEM BLOCK .c-icon-thumb
 */

.c-icon-thumb {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*
  BEM BLOCK MODIFIER .c-icon-thumb--
 */

.c-icon-thumb-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-icon-thumb--

[class*=c-icon-thumb--] {
  @extend .c-icon-thumb;
}

/*
  BEM ELEMENTS .c-icon-thumb__
 */

.c-icon-thumb__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &icon{
    width: 80px;
    max-width: 100%;
    margin-bottom: $act-unit;
    margin-left: auto;
    margin-right: auto;
    @include mq($from:tablet){
      width:120px
    }
  }
  &title{
    width: 100%;
    text-align: center;
    @include act-font-size($act-fs-5, 1.3);
    align-self: flex-end;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-icon-thumb--

[class*=c-icon-thumb__header--] {
  @extend .c-icon-thumb__header;
}
