/*
  BEM BLOCK .c-site-control
 */

.c-site-control {
  display: block;
  max-width: 160px;
  width: 100%;
}

/*
  BEM BLOCK MODIFIER .c-site-control--
 */

.c-site-control-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .c-site-control--

[class*=c-site-control--] {
  @extend .c-site-control;
}

/*
  BEM ELEMENTS .c-site-control__
 */

.c-site-control__ {
  &list{
    display: flex;
    justify-content: space-between;
    @extend .o-list-bare;
    margin-bottom: 0;
    @include mq($from : desktop){
      justify-content: flex-end;
    }
  }
  &item{
    display: block;
    @include mq($from: desktop){
      margin-left: $act-unit;
    }
  }
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;

  }

  &link {
    display: inline;
    text-decoration: none;
    background: transparent;
    border: none;
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &label{
    @include inuit-hidden-visually();
  }
  &cart-count{
    position: absolute;
    left: 15px;
    top: -20px;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .c-site-control__header--

[class*=c-site-control__header--] {
  @extend .c-site-control__header;
}

.c-site-control__header--{

}

//BEM ELEMENT MODIFIER FALLBACK .c-site-control__item--

[class*=c-site-control__item--] {
  @extend .c-site-control__item;
}

//BEM ELEMENT MODIFIER FALLBACK .c-site-control__link--

[class*=c-site-control__link--] {
  @extend .c-site-control__link;
}

.c-site-control__link--{
  &cart{
    position: relative;
    display: block;
  }
  &search{
    @include size(25px);
    display: block;
  }
}

.c-site-control__item--{
  &menu{
    @include mq($from: desktop){
      display: none;
    }
  }
}

