<div class="l-main__page--static-page">
  <div class="l-page--static-page">

    <header class="l-page__header" role="banner">

      {% if page.image.src %}
        <div class="l-page__feature-image">
          <img class="l-page__img" src="{{ page.image.src | page_img_url: 'large' }}"  alt="{{ page.title | escape }}" />
        </div>
      {% else %}
        <!-- no page image -->
      {% endif %}

      <h1 class="l-page__heading--static-page" >
        <span class="l-page__title">{{ page.title }}</span>
      </h1>

    </header>

    <div class="l-page__content--static-page">
      {% if page.content != blank %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
