<div class="l-main__page--product 2020test another test">
  <!-- get the section -->
{% section 'product-2020' %}
  <!-- Got it -->
</div>

{% include 'ac-product-json' %}

<div id='Areviewsapp' class='page-full'>{% include 'aliexpress_reviews' %}</div>

