<div class="c-contact-form--additional-address">
  <div class="c-contact-form__form">
    <label for="FriendFirstName">
      <span class="c-contact-form__label-text">Friend's First Name</span>
      <span class="c-contact-form__input-wrapper">
        <input type="text"
               name="friend-first-name"
               id="FriendFirstName"
               value=""
               required
               class="c-contact-form__input--additional-address">
      </span>
    </label>

    <label for="FriendLastName">
      <span class="c-contact-form__label-text">Friend's Last Name</span>
      <span class="c-contact-form__input-wrapper">
          <input type="text"
                 name="friend-last-name"
                 id="FriendLastName"
                 value=""
                 class="c-contact-form__input--additional-address">
        </span>
    </label>

    <label for="FriendAddressLine1">
      <span class="c-contact-form__label-text">Address Line 1</span>
      <span class="c-contact-form__input-wrapper">
          <input type="text"
                 name="friend-address-line-1"
                 id="FriendAddressLine1"
                 value=""
                 class="c-contact-form__input--additional-address">
         </span>
    </label>

    <label for="FriendAddressLine2">
      <span class="c-contact-form__label-text">Address Line 2</span>
      <span class="c-contact-form__input-wrapper">
          <input type="text"
                 name="friend-address-line-2"
                 id="FriendAddressLine2"
                 value=""
                 class="c-contact-form__input--additional-address">
          </span>
    </label>

    <label for="FriendAddressCity">
      <span class="c-contact-form__label-text">City</span>
      <span class="c-contact-form__input-wrapper">
            <input type="text"
                   name="friend-address-city"
                   id="FriendAddressCity"
                   value=""
                   class="c-contact-form__input--additional-address">
            </span>
    </label>

    <label for="FriendAddressPostcode">
      <span class="c-contact-form__label-text">Postcode</span>
      <span class="c-contact-form__input-wrapper">
              <input type="text"
                     name="friend-address-postcode"
                     id="FriendAddressPostcode"
                     value=""
                     class="c-contact-form__input--additional-address">
              </span>
    </label>

    <div class="c-contact-form__input-wrapper--submit">
      <button data-remodal-action="confirm" class="c-btn--contact-submit">Done</button>
    </div>

    </div>
</div>
