{% if blockTitle %}
  <header class="c-content-block__header">
    <h3 class="c-content-block__heading--static-page u-col-{{ classHeadingColor }} ">
      {{ blockTitle }}
    </h3>
  </header>
{% else %}
  <!-- no blockTitle -->
{% endif %}
