{
  "name": "Content Block",
  "class": "section-block",
  "settings": [
    {
      "type": "select",
      "id": "cb_background_colour",
      "label": "Background colour test schema",
      "default": "t",
      "options": [
        {
          "value": "t",
          "label": "Transparent"
        },
        {
          "value": "1",
          "label": "BBD Yellow"
        },
        {
          "value": "2",
          "label": "BBD Indigo"
        },
        {
          "value": "3",
          "label": "BBD Pink"
        },
        {
          "value": "4",
          "label": "BBD Green"
        },
        {
          "value": "5",
          "label": "BBD Blue"
        },
        {
          "value": "w",
          "label": "BBD white"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "cb_image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "cb_image_layout",
      "label": "Image alignment",
      "default": "background",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "background",
          "label": "Background"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ]
    },
    {
      "type": "select",
      "id": "cb_image_position",
      "label": "Image position",
      "default": "below-header",
      "options": [
        {
          "value": "below-header",
          "label": "Below header"
        },
        {
          "value": "above-header",
          "label": "Above header"
        },
        {
          "value": "below-text",
          "label": "Below text"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "cb_image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "cb_logo_image",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Block Heading"
    },
    {
      "type": "select",
      "id": "cb_heading_size",
      "label": "Heading Size",
      "default": "2",
      "options": [
        {
          "value": "2",
          "label": "Normal"
        },
        {
          "value": "k",
          "label": "Bigger"
        }
      ]
    },
    {
      "type": "select",
      "id": "cb_heading_colour",
      "label": "Heading colour",
      "default": "w",
      "options": [
        {
          "value": "1",
          "label": "BBD Yellow"
        },
        {
          "value": "2",
          "label": "BBD Indigo"
        },
        {
          "value": "3",
          "label": "BBD Pink"
        },
        {
          "value": "4",
          "label": "BBD Green"
        },
        {
          "value": "5",
          "label": "BBD Blue"
        },
        {
          "value": "w",
          "label": "BBD white"
        }
      ]
    },
    {
      "type": "select",
      "id": "cb_heading_layout",
      "label": "heading alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "cb_hide_title",
      "label": "Hide the title",
      "default": false
    },
    {
      "type": "text",
      "id": "cb_sub_title",
      "label": "Sub Heading",
      "default": "Some sub heading strap line"
    },
    {
      "type": "richtext",
      "id": "cb_text",
      "label": "Text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "select",
      "id": "cb_text_colour",
      "label": "Text colour",
      "default": "w",
      "options": [
        {
          "value": "1",
          "label": "BBD Yellow"
        },
        {
          "value": "2",
          "label": "BBD Indigo"
        },
        {
          "value": "3",
          "label": "BBD Pink"
        },
        {
          "value": "4",
          "label": "BBD Green"
        },
        {
          "value": "5",
          "label": "BBD Blue"
        },
        {
          "value": "w",
          "label": "BBD white"
        }
      ]
    },
    {
      "type": "select",
      "id": "cb_text_layout",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ]
    },
    {
      "type": "text",
      "id": "cb_button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "cb_button_link",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "cb_button_colour",
      "label": "Button colour",
      "default": "w",
      "options": [
        {
          "value": "1",
          "label": "BBD Yellow"
        },
        {
          "value": "2",
          "label": "BBD Indigo"
        },
        {
          "value": "3",
          "label": "BBD Pink"
        },
        {
          "value": "4",
          "label": "BBD Green"
        },
        {
          "value": "5",
          "label": "BBD Blue"
        },
        {
          "value": "w",
          "label": "BBD white"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "cb_min_height",
      "label": "Block min height 75%",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "cb_scroll_arrow",
      "label": "Include scroll down arrow",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "cb_desk_layout_1col",
      "label": "Desktop single column",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "cb_desk_width_50",
      "label": "Desktop block width 50%",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "cb_desk_image_right",
      "label": "Desktop image position right",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Content Block",
      "category": "Content"
    }
  ]
}
