<div class="c-hero-banner{{ modClass }}">

    <h1 class="c-hero-banner__heading{{ modClass }}" >{{article.title }}</h1>

    <div class="c-hero-banner__image{{ modClass }}">
      {% include 'responsive-image' with
        image: article.image,
        max_width: 800,
        max_height: 800
      %}

    </div>

</div>
