
{% assign productTypeArray =  productType | split : '-' %}
{% assign listNameSpace = '' %}
{% for word in productTypeArray %}
  {% assign initial = word | slice: 0 %}
  {% unless forloop.first %}
    {% assign initial = initial | prepend: "-" %}
  {% endunless %}
  {% assign listNameSpace = listNameSpace | append: initial  %}
{% endfor %}

{% assign listNameSpace = listNameSpace | append: '-' | append: blockType %}

<div class="l-icon-list">
    <ul class="l-icon-list__list">
      {% for c in (1..10) %}
        {% assign itemId = 'icon_' | append : c %}
        {% assign titleId = 'title_' | append : c %}
        {% if shop.metafields[listNameSpace][itemId] %}
        <li class="l-icon-list__item">
          <div class="l-icon-list__icon-thumb">
            <div class="c-icon-thumb">
              <div class="c-icon-thumb__icon--{{ c }}">
               <img src="{{ shop.metafields[listNameSpace][itemId] | file_img_url: '500x' }}" alt="icon" />
              </div>
              {% if shop.metafields[listNameSpace][titleId]  %}
                <div class="c-icon-thumb__title">
                  {{ shop.metafields[listNameSpace][titleId]  }}
                </div>
              {% endif %}
            </div>
          </div>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

