<div class="c-product-price" data-price-wrapper>
      <span class="c-product-price__price"  data-product-price>
        {{ current_variant.price | money }}
      </span>

  {% if product.compare_at_price_max > product.price %}
    <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
    <s data-compare-price>
      {% if current_variant.compare_at_price > current_variant.price %}
        {{ current_variant.compare_at_price | money }}
      {% endif %}
    </s>
  {% endif %}
</div>
