{% assign landingSellPrice = product.metafields.global.landpage_price_sell %}
<div class="c-product-price" data-price-wrapper>
      <span class="c-product-price__price"  data-product-price>
        $18.59
      </span>


    <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
    <s class="c-product-price__compare-price--original" data-compare-price>
    $27.95
  </s>
  <s class="c-product-price__compare-price--discount-1" data-compare-price>
    $19.57
  </s>
</div>
