{% assign remodalName = '-country-select' %}
<div class="c-remodal-country-select" data-remodal-id="modal{{ remodalName }}">
  <button data-remodal-action="close" class="remodal-close c-remodal__btn--close"></button>
  <div class="remodal__info-notice">
    <div class="c-info-notice--country-select">
      <h1 class="c-info-notice__heading--country-select u-col-3 ">Hey There!</h1>
      <div class="c-info-notice__body">
        <p>It looks like your visiting from North America. We now have a store for you where you can check out in $ and enjoy quick, cost effective local delivery.  </p>
        <div class="c-info-notice__cta">

          <div class="c-info-notice__btn--redirect">
            <a href="https://bibado.co"  class="c-btn--redirect-uk ">Take me to the US store</a>
          </div>

          <div class="c-info-notice__btn--continue">
            <button data-remodal-action="confirm" class="c-btn--continue-us">Continue to the UK site </button>
          </div>


        </div>
      </div>
    </div>
      </div>

</div>
