<div class="c-site-control">

  <ul class="c-site-control__list">

    <li class="c-site-control__item--search">
      <a id="searchControl" href="#" class="c-site-control__link--search" data-state="off" data-control="siteSearch">
        <span class="c-site-control__label">Search</span>
        {% include 'icon-bbd-search' %}
      </a>
    </li>
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <li class="c-site-control__item--account">
          <a href="/account" class="c-site-control__link">
            <span class="c-site-control__label">
              {{ 'layout.customer.account' | t }}
            </span>
            {% include 'icon-user' %}
          </a>
        </li>
             {% else %}
        <li class="c-site-control__item--customer">
          <a href="/account" class="c-site-control__link">
          <span class="c-site-control__label">
          Login
          </span>
          {% include 'icon-user' %}
          </a>

        </li>
      {% endif %}
    {% endif %}
    <li class="c-site-control__item--cart" data-button-cart >
      <a href="/cart" class="c-site-control__link--cart js-drawer-open-right-disabled" >
        <span class="c-site-control__label">{{ 'layout.cart.title' | t }}</span>
        {% include 'icon-bbd-cart' %}
        <span data-cart-count class="c-site-control__cart-count ">
          <span class="c-cart-count CartCount">
            {{ cart.item_count }}
          </span>
        </span>
      </a>
    </li>
    <li class="c-site-control__item--menu">
        <button id="menuButtonOpen" class="c-site-control__link" data-state="off" data-control="mobileNavOffPageContainer" >
        <span class="c-site-control__label">Menu</span>
        {% include 'icon-bbd-menu' %}
      </button>
    </li>
  </ul><!-- /.site-control__list -->

</div><!-- site-controls -->
