<svg class="c-icon--menu" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><title>icon-menu</title><rect class="cls-1" x="-4.12" y="5.83" width="36.23" height="3"/><rect class="cls-1" x="-4.12" y="12.5" width="36.23" height="3"/><rect class="cls-1" x="-4.12" y="19.17" width="36.23" height="3"/></svg>
