<svg class="c-icon--cart" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><title>icon-cart</title><path class="cls-1" d="M22.55,9.79H19.17c0-2.15-.39-5.86-2.2-7.78A4,4,0,0,0,11,2C9.21,3.93,8.85,7.64,8.8,9.79H4.92L1.36,27.27H26.7ZM13.21,4.07a1,1,0,0,1,1.58,0c1,1,1.34,3.65,1.39,5.72H11.8C11.86,7.72,12.23,5.1,13.21,4.07ZM7.37,12.79H20.18L22.9,24.27H5Z"/></svg>
