/*
  BEM BLOCK .l-footer
 */

.l-footer {
  display: block;
  padding: $act-unit-s;
  padding-bottom: 0;
}

/*
  BEM BLOCK MODIFIER .l-footer--
 */

.l-footer-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-footer--

[class*=l-footer--] {
  @extend .l-footer;
}

/*
  BEM ELEMENTS .l-footer__
 */

.l-footer__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &site-title{
    display: flex;
    justify-content: center;
  }
  &site-info{
    background: $brand-col-1;
    padding: $act-unit-t;
    margin-top: $act-unit;
    @include breakout-band($bgc : $brand-col-1);
    color:  $brand-col-2;
    @include act-font-size($act-fs-5);
    a{
      @include a($col : $brand-col-2);
      text-decoration: none;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-footer--

[class*=l-footer__header--] {
  @extend .l-footer__header;
}
