/*
  BEM BLOCK .l-quick-cart
 */

.l-quick-cart {
  display: block;
}

/*
  BEM BLOCK MODIFIER .l-quick-cart--
 */

.l-quick-cart-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-quick-cart--

[class*=l-quick-cart--] {
  @extend .l-quick-cart;
}

/*
  BEM ELEMENTS .l-quick-cart__
 */

.l-quick-cart__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &total{
    @extend .o-box;
    background: $brand-col-4;
    text-align: center;
    color: $brand-col-2;
    font-family: $act-font-family-headings;
    font-weight: 700;
  }
  &cart-list{
    padding-top: $act-unit-s;
    //position: relative;
    overflow: auto;
    max-height: calc(100vh - 300px);
    &.is-sticky-bottom{
      max-height: calc(100vh - 120px);
    }
  }
  &checkout{
    @extend .o-box;
    background: $brand-col-1;
    width: 100%;
    border-bottom: solid 90px $brand-col-4;
    text-align: center;
    &.is-sticky-bottom{
      position: absolute;
      bottom: 0;
    }
  }
  &footer{
    text-align: center;
    color: $brand-col-3;
    font-style: italic;
  }
  &discount-card{
    padding: 0 $act-unit $act-unit;
    @include mq($from:desktop){
      width: 1000px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-quick-cart--

[class*=l-quick-cart__header--] {
  @extend .l-quick-cart__header;
}

//BEM ELEMENT MODIFIER FALLBACK .l-quick-cart__checkout--

[class*=l-quick-cart__checkout--] {
  @extend .l-quick-cart__checkout;
}

.l-quick-cart__checkout--{
  &page{
    border-bottom: 0;
  }
}

.l-quick-cart__cart-list--{
  &page{
    margin-top: $act-unit;
  }
}
