/*
  BEM BLOCK .l-page
 */

.l-page {
  display: block;

}

/*
  BEM BLOCK MODIFIER .l-page--
 */

.l-page-- {
  &recipe {
    color: $brand-col-2;
    background: white;
  }
  &product{
     color: $brand-col-2;
     background: white;
     padding-bottom: $act-unit-s;
    @include mq($from: desktop){
      max-width: $act-wrapper-width;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &reviews{
    color: $brand-col-2;
    background: white;
    padding-bottom: $act-unit-s;
  }
  &article{
    background: #fff;
    color: $brand-col-2;
  }
  &static-page {
    color: $brand-col-2;
    background: white;
    text-align: left;
  }
  &collection-bundle{
    padding-top: $act-unit-s;
  }
  &collection{
    @include mq($from:desktop){
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }


}

//BEM BLOCK MODIFIER FALLBACK .l-page--

[class*=l-page--] {
  @extend .l-page;
}

/*
  BEM ELEMENTS .l-page__
 */

.l-page__ {
  &header {
    display: block;
    text-align: center;
  }

  &heading {
    display: block;
    padding-top: 0 $act-unit;

  }

  &title {
    display: inline;
  }
  &title-search-results{
    font-weight: 700;
    font-family: $act-font-family-sans;
    @include act-font-size($act-fs-4);
    color: $brand-col-2;
  }

  &logo{
    display: block;
  }

  &link {
    display: inline
  }

  &content {
    display: block;
    padding: 0 $act-unit $act-unit;
    text-align: center;
    margin-bottom: $act-unit-l;
  }

  &content-block{
    display: block;
  }

  &feature-image{
    margin-bottom: $act-unit;
    background: #fff;
    position: relative;
  }

&feature-img{
  margin: 0 auto;
  display: block;
}
  &tag-list{
    display: none;
  }
  &sub-heading{
    color: $brand-col-2;
    margin-bottom: 0;
  }
  &site-search-form{
    padding: $act-unit 0;
    display: none;
  }
  &footer{
    padding: $act-unit-s;
  }
  &meta{
    text-align: center;
    margin-bottom: $act-unit;
  }
  &meta-text{
    display: block;
  }
  &product-form{
    padding: 0 $act-unit;
    @include mq($from: desktop){
        grid-row-start: 3;
        grid-column-start: 2;
    }
  }
  &product-form-after{
    padding: 0 $act-unit;
    &:after{
      content: '';
      display: block;
      border-bottom: solid 3px $brand-col-6;
      margin-top: $act-unit * 1.5;
    }
    @include mq($from: desktop){
      grid-row-start: 4;
      grid-column-start:2
    }
  }
  &flex-block{
    padding-top: $act-unit;
    @include mq($from: desktop){

    }
  }
  &flex-item{
    padding: 0 $act-unit $act-unit;
    text-align: left;
    margin-bottom: $act-unit-l;

  }
  &bundle-cart{
    background: $brand-col-4;
    color: $brand-col-2;
  }
  &hero{
    padding: $act-unit;
    background: $brand-col-2;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &hero-text{

    font-family: $act-font-family-headings;
    font-weight: 500;
    color: $brand-col-1;
  }
  &hero-image{
    display: none;
    @include mq($from:desktop){
      display: block;
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 5;
    }
  }
  &section{
    display: block;
  }
  &gallery{
    grid-row-start: 1;
    grid-row-end: 6
  }
  &icon{
    display: block;
  }
  &icon-list{
    background: #fff;
  }
  &collection-intro{
    @include mq($from:desktop){
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      max-width: $act-wrapper-width;
      margin-left: auto;
      margin-right: auto;
    }

  }
  &product-list{
    grid-column-start: 1;
    grid-column-end: 3;
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__header--

[class*=l-page__header--] {
  @extend .l-page__header;
}

.l-page__header--{
  &shop-collections{
    background: $brand-col-5;
    margin-bottom: 0;
    color: $brand-col-2;
    padding: $act-unit-l 0;
  }
  &search{
    background: $brand-col-3;
    color: $brand-col-2;
    padding: $act-unit-l 0;
  }
  &blog{
    background: $brand-col-3;
    color: $brand-col-1;
    padding: $act-unit-l 0;
  }
  &product{
    padding: 0 $act-unit;
    @include mq($from: desktop){
      grid-row-start: 2;
      grid-column-start: 2;
    }
  }
  &reviews{
    padding: $act-unit 0 !important;
}
  &static-page{
    background: $brand-col-4;
  }
  &collection{

    @include mq($from:desktop){
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &about-us{
    @include mq($from:desktop){
      max-width: $act-wrapper-width;
      margin-left: auto;
      margin-right: auto;
      @include breakout-band($bgc: $brand-col-2);
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr auto auto 1fr;
    }
  }
}


//BEM ELEMENT MODIFIER FALLBACK .l-page__heading--

[class*=l-page__heading--] {
  @extend .l-page__heading;
}

.l-page__heading--{
  &shop-collections{
    color: $brand-col-2;
    margin-bottom: $act-unit-t;
    font-weight: 700;
  }
  &search{
    margin-bottom: 0;
    color: $brand-col-2;
  }
  &blog{
    margin-bottom: 0;
    color: $brand-col-2;
  }
  &product{
    color: $brand-col-2;
    @include act-font-size(23px,1.1);
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
  }
  &reviews{
    color: $brand-col-2;
    margin-bottom: 0;
  }
  &static-page{
    padding-top: $act-unit;
    padding-bottom: $act-unit;
    margin-bottom: 0;
    color: $brand-col-2 !important;
    font-weight: 700;
  }
  &about-us{
    background: $brand-col-4;
    color: $brand-col-3 !important;
    @include mq($from:desktop){
      background: transparent;
      grid-column-start: 1;
      grid-row-start: 2;
      text-align: left;
    padding-left: $act-unit;
    }
  }
  &collection-bundle{
    color: $brand-col-5;
  }

}
//BEM ELEMENT MODIFIER FALLBACK .l-page__logo--

[class*=l-page__logo--] {
  @extend .l-page__logo;
}

.l-page__logo--{
  &collection{
    padding: 0 $act-unit;
    margin-bottom: $act-unit;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__sub-heading--

[class*=l-page__sub-heading--] {
  @extend .l-page__sub-heading;
}

.l-page__sub-heading--{
  &shop-collections{
    background: $brand-col-5;
    margin-bottom: 0;
    color: $brand-col-2;

  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__feature-image--

[class*=l-page__feature-image--] {
  @extend .l-page__feature-image;
}

.l-page__feature-image--{
  &shop-collections{
    margin-bottom: 0;
  }
  &static-page{
    margin-bottom: 0;
  }
  &collection{
    display: block;
    @include mq($from:desktop){
      display: none;
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: 0;
    }
  }
  &collection-desktop{
    display: none;
    @include mq($from:desktop){
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: 0;
      display: block;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__meta-text--

 [class*=l-page__meta-text--] {
   @extend .l-page__meta-text;
 }

.l-page__meta-text--{

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__content--

[class*=l-page__content--] {
  @extend .l-page__content;
}

.l-page__content--{
  &product{
    padding: 0;
    text-align: left;
    margin-bottom: 0;
    @include mq($from: desktop){
      grid-row-start: 6;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  &collection{
    @include mq($from:desktop){
      width: 50%;
      text-align: left;
      padding-top: $act-unit;
      padding-bottom: $act-unit;
      margin-bottom: 0;
      .rte *:last-child{
        margin-bottom: 0;
      }
    }
  }
  &recipe{
    text-align: left;
  }
  &article{
    margin-bottom: 0;
  }
  &static-page{
    text-align: left;
    margin-bottom: 0;
    padding: 0;
  }
  &faqs-page{
    padding: $act-unit !important;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__footer--

[class*=l-page__footer--] {
  @extend .l-page__footer;
}

.l-page__footer--{
  &product{
    //margin-bottom: $act-unit-s;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &collection-bundle{
    background: $brand-col-4;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__flex-item--

[class*=l-page__flex-item--] {
  @extend .l-page__flex-item;
}

.l-page__flex-item--{
  &image{
    padding: 0;
  }
  &text{
    &:last-child{
      margin-bottom: 0;
    }
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__content-block--

[class*=l-page__content-block--] {
  @extend .l-page__content-block;
}

.l-page__content-block--{
  &product{
    padding: 0 $act-unit;
    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 0;
      border-bottom: solid 3px $brand-col-6;
    }
    &.has-bgc:after{
      border-bottom:none;
    }
    &.has-next-bgc:after{
      border-bottom:none;
    }
    &:last-child:after{
      border-bottom:none;
    }
    &.is-last-block:after{
      border-bottom:none;
    }
    @include mq($from:desktop){
      margin-bottom: $act-unit-l !important;
    }
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__section--

[class*=l-page__section--] {
  @extend .l-page__section;
}

.l-page__section--{
   &product{
     @include mq($from:desktop){
       display: grid;
       grid-template-columns: 40% 60%;
     }
     &:before{
       content: "";
       grid-column-start: 2;
       grid-row-start: 1;
     }
     &:after{
       content: "";
       grid-column-start: 2;
       grid-row-start: 5;
     }
   }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__hero--

[class*=l-page__hero--] {
  @extend .l-page__hero;
}

.l-page__hero--{
  &static-page{
    @include mq($from:desktop){
      grid-row-start: 3;
      grid-column-start: 1;
      height: auto;
      padding-top: 0 !important;
      text-align: left;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__icon-list--

[class*=l-page__icon-list--] {
  @extend .l-page__icon-list;
}

.l-page__icon-list--{
  &collection{
    padding: $act-unit 0;
    @include mq($from:desktop){}
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__icon--

[class*=l-page__icon--] {
  @extend .l-page__icon;
}

.l-page__icon--{
  &scroll-collection{
    color: $brand-col-2;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: $act-unit;
    cursor: pointer;
    text-align: center;
  }
}

#wprev-slider-2656 .wprev_preview_bg1_T1 {

  background: $brand-col-2 !important;
  color: white;

}

#wprev-slider-2656 .wprev_preview_tcolor1_T1 {

  color: #fff !important;

}

.wprevpro_t1_DIV_2::before {
  color: #fff !important;
  content: '\201C';

}

.wprevpro_t1_DIV_2::after {


  border-top-color: $brand-col-2 !important;

}

.wprevpro_t1_SPAN_5 {

  color:$brand-col-2 !important;
  text-transform: none !important;

}

#wprev-slider-2656 .wprev_preview_bradius_T1 {

  border-radius: $act-unit !important;

}

.wprevpro_t1_P_3 {

  text-align: center !important;

}

.has-bgc{
  &.l-page__content-block--product{
    position: relative;
    z-index: 1;
      &:after{
        position: absolute;
        content: '';
        width: 100vw;
        right: 50%;
        top: 0;
        height: 100%;
        display: block !important;

        z-index: -1;
        transform: translate( 50%, 0 );
    }
  }
}
