/*
  BEM BLOCK .l-masthead
 */

.l-masthead {
  display: grid;
  max-width: $act-wrapper-width;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  @include mq($from : desktop){
    grid-template-columns: 160px 1fr 1fr 160px;
  }
}

/*
  BEM ELEMENTS .l-masthead__
 */

.l-masthead__ {
  &announcement-bar{
    @include breakout-band($bgc : $brand-col-1);
    grid-column-start:1;
    grid-column-end: 3;
    @include mq($from : desktop){
      grid-column-end: 5;
    }
  }
  &branding{
    padding: $act-unit-s 0 $act-unit-s $act-unit-s;
    align-items: center;
    @include mq($from : desktop){
      padding: $act-unit 0 $act-unit-s $act-unit-s;
    }
  }
  &site-control{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $act-unit-s $act-unit-s $act-unit-s 0;
    @include mq($from : desktop) {
      grid-column-start: 4;
      grid-column-end: 5;
    }
  }
  &nav-menu{
    @include mq($from : desktop){
      grid-row-start: 1 !important;
      grid-column-start:2;
      grid-column-end: 4;
      margin-top: $act-unit;
      z-index: 9;
    .has-announcement-bar &{
      grid-row-start: 2 !important;
    }
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-masthead--


