/*
  BEM BLOCK .l-site
 */

.l-site {
  display: block;
  background: $brand-col-2;
  overflow: hidden;
}

/*
  BEM BLOCK MODIFIER .l-site--
 */

.l-site-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-site--

[class*=l-site--] {
  @extend .l-site;
}

/*
  BEM ELEMENTS .l-site__
 */

.l-site__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }
  &main{

  }

  &footer {
    display: block;
    text-align: center;
    @include mq($from:desktop){
      text-align: left;
    }

  }
  &site-search-form{
    padding: $act-unit 0;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    max-height: 100px;
    &[data-state=off]{
      padding: 0;
      transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
      max-height: 0 !important;
      overflow: hidden;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-site--

[class*=l-site__header--] {
  @extend .l-site__header;
}
