/*
  BEM BLOCK .l-icon-list
 */

.l-icon-list {
  display: block;
}

/*
  BEM BLOCK MODIFIER .l-icon-list--
 */

.l-icon-list-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-icon-list--

[class*=l-icon-list--] {
  @extend .l-icon-list;
}

/*
  BEM ELEMENTS .l-icon-list__
 */

.l-icon-list__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &list{
    @extend .o-list-bare;
    display: flex;
    justify-content: space-around;
    padding: $act-unit 0;
    //align-items: flex-end;
    flex-wrap: wrap;
    @include mq($from: desktop){
      padding: $act-unit-l 0;
    }

  }
  &item{
    min-width: 50%;
    @extend .o-list-bare__item;
    flex:1;
    padding: 0 3%;
    margin-bottom: $act-unit-l;
    @include mq($from:desktop){
      min-width: 0;
      padding: 0 2%;
    }

  }
  &icon-thumb{
    height: 100%;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-icon-list--

[class*=l-icon-list__header--] {
  @extend .l-icon-list__header;
}
