/*
  BEM BLOCK .l-main
 */

.l-main {
  display: block;
  border-bottom: solid $act-unit $bbd-green;

}

/*
  BEM BLOCK MODIFIER .l-main--
 */

.l-main-- {
  &type {
    display: block
  }
  &index{
    @include mq($from: desktop){
      display: flex;
      flex-wrap: wrap;
    }
  }
  &product{
    background: #fff;
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-main--

[class*=l-main--] {
  @extend .l-main;
}

/*
  BEM ELEMENTS .l-main__
 */

.l-main__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &content-block-wrapper{
    padding: 0;
    @include mq($from:desktop){
      padding: 0;
    }
  }

  &content-block{
    padding: 0 0;
    @include mq($from:desktop){
      padding: 0;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-main--

[class*=l-main__header--] {
  @extend .l-main__header;
}

//BEM ELEMENT MODIFIER FALLBACK .l-main__content-block--

[class*=l-main__content-block--] {
  @extend .l-main__content-block;
}

.l-main__content-block--{

}
