/*
  BEM BLOCK .l-page
 */

.l-page {
  display: block;
}

/*
  BEM BLOCK MODIFIER .l-page--
 */

.l-page-- {
  &landing{
    background: white !important;
    padding-top: $act-unit-l ;
  }
  &recipe {
    color: $brand-col-2;
    background: white;

  }
  &product{
     color: $brand-col-2;
     background: white;
     padding-bottom: $act-unit-s;
    @include mq($from: desktop){
      max-width: $act-wrapper-width;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &reviews{
    color: $brand-col-2;
    background: white;
    padding-bottom: $act-unit-s;
  }
  &article{
    background: #fff;
    color: $brand-col-2;
  }
  &static-page {
    color: $brand-col-2;
    background: white;
    text-align: left;
  }
  &collection-bundle{
    padding-top: $act-unit-s;
  }
  &collection{
    @include mq($from:desktop){
      //display: grid;
      //grid-template-columns: 50% 50%;
    }
  }
  &contact-us{
    padding-bottom: 0;
    @include mq($from: desktop){
      padding-bottom: $act-unit;
    }
  }
  &collection-bundle{
    padding-top: 0;
  }
  &bundle-product{

  }



}

//BEM BLOCK MODIFIER FALLBACK .l-page--

[class*=l-page--] {
  @extend .l-page;
}

/*
  BEM ELEMENTS .l-page__
 */

.l-page__ {
  &hero-image {
    display: block;
  }
  &block-loop{
    display: block;
  }
  &wrapper{
    width: $act-wrapper-width;
    max-width: 100%;
    margin: 0 auto;
  }
  &grid-wrapper{
    @include mq($from:desktop){
      display: grid;
    }

  }
  &header {
    display: block;
    text-align: center;
  }
  &heading {
    display: block;
    padding-top: 0 $act-unit;

  }
  &heading-wrapper{
    padding: $act-unit-l 0

  }
  &title {
    display: inline;
  }
  &title-search-results{
    font-weight: 700;
    font-family: $act-font-family-sans;
    @include act-font-size($act-fs-4);
    color: $brand-col-2;
  }
  &logo{
    display: block;
  }
  &link {
    display: inline
  }
  &content {
    display: block;
    padding: 0 $act-unit $act-unit;
    text-align: center;
    margin-bottom: $act-unit-l;
  }
  &rte{
    display: block;
  }
  &site-map{
    padding: 0 $act-unit $act-unit;
  }
  &content-block{
    display: block;
  }
  &feature-image{
    margin-bottom: $act-unit;
    background: #fff;
    position: relative;
  }
  &feature-img{
  margin: 0 auto;
  display: block;
}
  &tag-list{
    display: none;
  }
  &sub-heading{
    color: $brand-col-2;
    margin-bottom: 0;
  }
  &site-search-form{
    padding: $act-unit 0;
    display: none;
  }
  &footer{
    padding: $act-unit-s;
    background: #000  $brand-col-2;
    @include mq($from:desktop){
      padding: $act-unit;
    }
  }
  &meta{
    text-align: center;
    margin-bottom: $act-unit;
    @include mq($from:desktop){
      grid-column-start: 1;
      grid-row-start: 3;
      text-align: left;
      padding-left: $act-unit;
  }
  }
  &meta-text{
    display: block;

  }
  &product-form{
    padding: 0 $act-unit;
    @include mq($from: desktop){
        grid-row-start: 3;
        grid-column-start: 2;
    }
  }
  &product-form-after{
    padding: 0 $act-unit;
    &:after{
      content: '';
      display: block;
      border-bottom: solid 3px $brand-col-6;
      margin-top: $act-unit * 1.5;
    }
    @include mq($from: desktop){
      grid-row-start: 4;
      grid-column-start:2;
      padding-top: $act-unit * 1.5
    }
  }
  &flex-block{
    padding-top: $act-unit;
    @include mq($from: desktop){

    }
  }
  &flex-item{
    padding: 0 $act-unit $act-unit;
    text-align: left;
    margin-bottom: $act-unit-l;

  }
  &bundle-cart{
    background: $brand-col-4;
    color: $brand-col-2;
  }
  &hero{
    padding: $act-unit;
    background: $brand-col-5;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq($from:desktop){
      min-height: 0;
      background: transparent;
    }
  }
  &hero-text{
    font-family: $act-font-family-headings;
    font-weight: 500;
    color: $brand-col-1;
  }
  &hero-image{
    display: block;
    @include mq($from:desktop){
      display: block;
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 5;
    }
  }
  &section{
    display: block;
  }
  &gallery{
    grid-row-start: 1;
    grid-row-end: 6
  }
  &icon{
    display: block;
  }
  &icon-list{
    background: #fff;
  }
  &collection-intro{
    padding-top: $act-unit;
    @include mq($from:desktop){
      grid-column-start: 1;
      grid-column-end: 3;
      display: grid;
      grid-template-columns: 25% 50% 25%;
      flex-direction: column !important;
      max-width: $act-wrapper-width;
      margin-left: auto;
      margin-right: auto;
    }

  }
  &product-list{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &thumb-list{
    background: #fff;
    @include mq($from:desktop){
      padding-top: $act-unit;
    }
  }
  &recipe{
    @include mq($from:desktop){
      background: $brand-col-2;
    }
  }
  &btn{
    display: block;
  }
  &collection-logo{
    display: block;
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__header--

[class*=l-page__header--] {
  @extend .l-page__header;
}

.l-page__header--{
  &404{
    background: $brand-col-1;
    color: $brand-col-2;
  }
  &shop-collections{
    background: $brand-col-5;
    margin-bottom: 0;
    color: $brand-col-2;
    padding: $act-unit-l 0;
  }
  &search{
    background: $brand-col-3;
    color: $brand-col-2;
    padding: 0;
  }
  &blog{
    background: $brand-col-3;
    color: $brand-col-1;
    padding: 0;
  }
  &product{
    padding: 0 $act-unit;
    text-align: left;
    @include mq($from: desktop){
      grid-row-start: 2;
      grid-column-start: 2;
      text-align: left;
    }
  }
  &static-page{
    background: $brand-col-1;
    @include mq($from:desktop){
      background: $brand-col-1;
      //max-width: $act-wrapper-width;
      //margin-left: auto;
      //margin-right: auto;
      //@include breakout-band($bgc: $brand-col-5);
      //display: grid;
      //grid-template-columns: 50% 50%;
      //grid-template-rows: 1fr auto auto 1fr;
      //background: $brand-col-4;
    }
  }
  &article{
    @include mq($from:desktop){
      background: $brand-col-5;
    }
    //max-width: $act-wrapper-width;
    //margin-left: auto;
    //margin-right: auto;
    //@include breakout-band($bgc: $brand-col-5);
    //display: grid;
    //grid-template-columns: 50% 50%;
    //background: $brand-col-4;
    //grid-template-rows: 1fr auto auto auto 1fr;
  }
  &reviews{
    padding: $act-unit 0 !important;
}
  &collection{
    @include mq($from:desktop){
      width: 100%;
      grid-column-start: 2;
      grid-row-start: 1;
      text-align: left;
      background: #fff;
    }
  }
  &collection-intro{
    @include mq($from:desktop){
      width: 100%;
      grid-column-start: 2;
      grid-row-start: 1;
      text-align: left;
    }
  }
  &about-us{
    @include mq($from:desktop){

      //@include breakout-band($bgc: $brand-col-5);
      background: $brand-col-5;

    }
  }
  &site-map{
    margin-bottom: $act-unit;
  }
  &how-to-bibado{
    @include breakout-band($bgc: $brand-col-1);
  }
  &faqs-shipping{
    background: $brand-col-1;
  }
  &terms-conditions{
    color: $brand-col-2;
    background: $brand-col-1;
  }
}


//BEM ELEMENT MODIFIER FALLBACK .l-page__heading--

[class*=l-page__heading--] {
  @extend .l-page__heading;
}

.l-page__heading--{
  &collection{
    background: #fff;
    color: $brand-col-2;
    margin-bottom: 0;
    padding-top: $act-unit;
    padding-bottom: $act-unit;
    @include mq($from: desktop){
      grid-row-start: 2;
      text-align: center;
    }
  }
  &landing{
    color: $brand-col-2;
    margin-bottom: $act-unit-l;
  }
  &404{
    @extend .o-box;
    color: $brand-col-2;
    @include mq($from:desktop){
      grid-row-start: 2;
      grid-column-start: 1;
    }
  }
  &shop-collections{
    color: $brand-col-2;
    margin-bottom: $act-unit-t;
    font-weight: 700;
  }
  &search{
    margin-bottom: 0;
    color: $brand-col-2;
  }
  &blog{
    margin-bottom: 0;
    color: $brand-col-2;
  }
  &product{
    color: $brand-col-2;
    @include act-font-size(23px,1.1);
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
  }

  &static-page{
    background: $brand-col-4;
    color: $brand-col-3 !important;
    padding-top: $act-unit;
    padding-bottom: $act-unit;
    margin-bottom: 0;
    color: $brand-col-3 !important;
    font-weight: 700;
    @include mq($from:desktop){
      background: transparent;
      grid-column-start: 1;
      grid-row-start: 2;
      text-align: left;
      padding-left: $act-unit;
    }
  }
  &bibado-rewards{
    color: $brand-col-5 !important;
  }
  &article{
    @extend .l-page__heading--static-page;
    background: transparent !important;
    color: $brand-col-2 !important;
    @include mq($from:desktop){
      padding: 0;
      padding-left: $act-unit;
    }
  }
  &reviews{
    color: $brand-col-2;
    margin-bottom: 0;
  }
  &about-us{
    background: $brand-col-4;
    color: $brand-col-3 !important;
    @include mq($from:desktop){
      background: transparent;
      grid-column-start: 1;
      grid-row-start: 2;
      text-align: left;
    padding-left: $act-unit;
    }
  }
  &collection-bundle{
    color: $brand-col-2;
    @include mq($from:desktop){
      color: $brand-col-5;
    }
  }
  &article{
    color: $brand-col-2;
  }
  &terms-conditions{
    color: $brand-col-2 !important;
  }



}
//BEM ELEMENT MODIFIER FALLBACK .l-page__logo--

[class*=l-page__logo--] {
  @extend .l-page__logo;
}

.l-page__logo--{
  &collection{
    padding: 0 $act-unit;
    margin-bottom: $act-unit;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__sub-heading--

[class*=l-page__sub-heading--] {
  @extend .l-page__sub-heading;
}

.l-page__sub-heading--{
  &shop-collections{
    background: $brand-col-5;
    margin-bottom: 0;
    color: $brand-col-2;

  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__feature-image--

[class*=l-page__feature-image--] {
  @extend .l-page__feature-image;
}

.l-page__feature-image--{
  &shop-collections{
    margin-bottom: 0;
  }
  &static-page{
    margin-bottom: 0;
  }
  &collection{
    display: block;
    margin-bottom: 0;
    @include mq($from:desktop){
      display: none;
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: 0;
      position: static !important;
    }
  }
  &collection-desktop{
    display: none;
    @include mq($from:desktop){
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 5;
      margin-bottom: 0;
      display: block;
      position: static !important;
    }
  }
  &article{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    margin-bottom: 0;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__meta-text--

 [class*=l-page__meta-text--] {
   @extend .l-page__meta-text;
 }

.l-page__meta-text--{
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__content--

[class*=l-page__content--] {
  @extend .l-page__content;
}

.l-page__content--{
  &product{
    padding: 0;
    text-align: left;
    margin-bottom: 0;
    @include mq($from: desktop){
      grid-row-start: 6;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  &collection{
    margin-bottom: 0;
    .rte *:last-child{
      margin-bottom: 0;
    }
    @include mq($from:desktop){
      width: 100%;
      grid-row-start: 2;
      grid-column-start:2;
      text-align: left;
      padding:0;
      padding-bottom: $act-unit;

    }
  }
  &collection-bundle{
    padding-bottom: 0;
    @include mq($from:desktop){
      padding-bottom: $act-unit;
      margin-bottom: 0;
    }
  }
  &recipe{
    text-align: left;
    @include mq($from:desktop){
      display: none !important;
    }
  }
  &article{
    margin-bottom: 0;
  }
  &static-page{
    text-align: left;
    margin-bottom: 0;
    padding: 0;
    padding-top: $act-unit;
  }
  &faqs-page{
    padding: $act-unit !important;
    @include mq($from:desktop){
      width: $act-wrapper-width;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &article{
    @include mq($from:desktop){
      width: $act-wrapper-width;
      max-width: 100%;
      margin: 0 auto;
      padding-top: $act-unit-l;
    }
  }
  &landing{
    text-align: center;
    margin-bottom: $act-unit;
    color: $brand-col-2;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__rte--

[class*=l-page__rte--] {
  @extend .l-page__rte;
}

.l-page__rte--{

  &static-page{
    padding: $act-unit;
    max-width: $act-wrapper-width;
    margin-left: auto !important;
    margin-right: auto !important;

  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__footer--

[class*=l-page__footer--] {
  @extend .l-page__footer;
}

.l-page__footer--{
  &product{
    //margin-bottom: $act-unit-s;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &collection-bundle{
    background: $brand-col-4;
  }
  &static-page{
    background: $brand-col-1;
    text-align: center;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__flex-item--

[class*=l-page__flex-item--] {
  @extend .l-page__flex-item;
}

.l-page__flex-item--{
  &image{
    padding: 0;
  }
  &text{
    &:last-child{
      margin-bottom: 0;
    }
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__content-block--

[class*=l-page__content-block--] {
  @extend .l-page__content-block;
}

.l-page__content-block--{
  &product{
    padding: 0 $act-unit;
    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 0;
      border-bottom: solid 3px $brand-col-6;
    }
    &.has-bgc:after{
      border-bottom:none;
    }
    &.has-next-bgc:after{
      border-bottom:none;
    }
    &:last-child:after{
      border-bottom:none;
    }
    &.is-last-block:after{
      border-bottom:none;
    }
    @include mq($from:desktop){
      margin-bottom: $act-unit-l !important;
    }
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__flex-block--

 [class*=l-page__flex-block--] {
   @extend .l-page__flex-block;
 }

.l-page__flex-block--{
  &static-page{
    padding-top: $act-unit;
    @include mq($from:desktop){
      padding-top: 0;
    }
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__section--

[class*=l-page__section--] {
  @extend .l-page__section;
}

.l-page__section--{
   &product{
     @include mq($from:desktop){
       display: grid;
       grid-template-columns: 40% 60%;
       grid-template-rows: 1fr auto auto auto 1fr auto auto auto auto
     }
     &:before{
       content: "";
       grid-column-start: 2;
       grid-row-start: 1;
     }
     &:after{
       content: "";
       grid-column-start: 2;
       grid-row-start: 5;
     }
   }
  &bundle-product{
    &:before{
      @include mq($from:desktop){
        height: $act-unit-l;
      }
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__hero--

[class*=l-page__hero--] {
  @extend .l-page__hero;
}

.l-page__hero--{
  &static-page{
    @include mq($from:desktop){
      grid-row-start: 3;
      grid-column-start: 1;
      height: auto;
      padding-top: 0 !important;
      text-align: left;
    }
  }
  &article{
    display: none;
    @include mq($from:desktop){
      display: block;
      grid-row-start: 4;
      grid-column-start: 1;
      background: transparent;
      color: $brand-col-2;
      text-align: left;
      padding-top:0 ;
      padding-bottom: 0;
      * {
        text-align: left !important;
      }
    }
  }
  &collection-bundle{
    padding: 0;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__icon-list--

[class*=l-page__icon-list--] {
  @extend .l-page__icon-list;
}

.l-page__icon-list--{
  &collection{
    padding: $act-unit 0;
    @include mq($from:desktop){}
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__icon--

[class*=l-page__icon--] {
  @extend .l-page__icon;
}

.l-page__icon--{
  &scroll-collection{
    color: $brand-col-2;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: $act-unit;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}


.has-bgc{
  &.l-page__content-block--product{
    position: relative;
    z-index: 1;
      &:after{
        position: absolute;
        content: '';
        width: 100vw;
        right: 50%;
        top: 0;
        height: 100%;
        display: block !important;

        z-index: -1;
        transform: translate( 50%, 0 );
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__icon--

[class*=l-page__hero-text--] {
  @extend .l-page__hero-text;
}

.l-page__hero-text--{
  &article{
    color: $brand-col-2;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__grid-wrapper--

[class*=l-page__grid-wrapper--] {
  @extend .l-page__grid-wrapper;
}
.l-page__grid-wrapper--{
  &header-404{
    //@extend .o-box;
    @include mq($from:desktop){
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr auto auto 1fr;
      max-width: $act-wrapper-width;
      margin: 0 auto;
    }
  }
  &header-static-page{
    @include mq($from:desktop){
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr auto auto 1fr;
      width: $act-wrapper-width;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &header-recipe{
    @include mq($from:desktop){
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr auto auto auto 1fr;
      width: $act-wrapper-width;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &collection-header{
    @include mq($from:desktop){
      width: $act-wrapper-width;
      margin: 0 auto;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr auto auto 1fr;
    }
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__product-list--

[class*=l-page__product-list--] {
  @extend .l-page__product-list;
}
.l-page__product-list--{
  &collection-bundle{
    @include mq($from:desktop){
      //padding: $act-unit-l 0;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__wrapper--

[class*=l-page__wrapper--] {
  @extend .l-page__wrapper;
}
.l-page__wrapper--{
  &collection-intro{
    width: 100% !important;
  }
  &landing{
    padding-bottom: $act-unit;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__btn--

 [class*=l-page__btn--] {
   @extend .l-page__btn;
 }
.l-page__btn--{
  &header-link-collection{
    //position: absolute;
    background: #fff;
    padding: 0 $act-unit $act-unit;
    @include mq($from:desktop){
      grid-column-start: 1;
      grid-row-start: 3;
      text-align: center;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__collection-logo--

[class*=l-page__collection-logo--] {
  @extend .l-page__collection-logo;
}
.l-page__collection-logo--{
  &header{
    background: #fff;
    @include mq($from:desktop){

      grid-column-start: 1;
      grid-row-start: 2;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__link--

[class*=l-page__link--] {
  @extend .l-page__link;
}
.l-page__link--{
  &404{
    @extend .o-box;
    a{
      color: $brand-col-2;
      &:hover{
        color: $brand-col-2;
      }
    }
    @include mq($from:desktop){
      grid-row-start: 3;
      grid-column-start: 1;
    }
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__link--

[class*=l-page__hero-image--] {
  @extend .l-page__hero-image;
}
.l-page__hero-image--{
  &404{

    }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__link--

[class*=l-page__block-loop--] {
  @extend .l-page__block-loop;
}
.l-page__block-loop--{
  &bibado-rewards{
    margin-top: -$act-unit;
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__gallery--

[class*=l-page__gallery--] {
  @extend .l-page__gallery;
}



.has-hero-text{
  .l-page__hero-image{
    display: none;
    @include mq($from:desktop){
      display: block !important;
    }
  }
}
