/*
  BEM BLOCK .l-page
 */

.l-page {
  display: block;
}

/*
  BEM BLOCK MODIFIER .l-page--
 */

.l-page-- {
  &recipe {
    color: $brand-col-2;
    background: white;
  }
  &product{
     color: $brand-col-2;
     background: white;
     padding-bottom: $act-unit-s;
   }
  &reviews{
    color: $brand-col-2;
    background: white;
    padding-bottom: $act-unit-s;
  }
  &article{
    background: #fff;
    color: $brand-col-2;
  }
  &static-page {
    color: $brand-col-2;
    background: white;
    text-align: left;
  }
  &collection-bundle{
    padding-top: $act-unit-s;
  }

}

//BEM BLOCK MODIFIER FALLBACK .l-page--

[class*=l-page--] {
  @extend .l-page;
}

/*
  BEM ELEMENTS .l-page__
 */

.l-page__ {
  &header {
    display: block;
    text-align: center;
  }

  &heading {
    display: block;
    padding-top: 0 $act-unit;
  }

  &title {
    display: inline;
  }
  &title-search-results{
    font-weight: 700;
    font-family: $act-font-family-sans;
    @include act-font-size($act-fs-4);
    color: $brand-col-2;
  }

  &link {
    display: inline
  }

  &content {
    display: block;
    padding: 0 $act-unit $act-unit;
    text-align: center;
    margin-bottom: $act-unit-l;
  }

  &content-block{
    display: block;
  }

  &feature-image{
    margin-bottom: $act-unit;
  }
  &tag-list{
    display: none;
  }
  &sub-heading{
    color: $brand-col-2;
    margin-bottom: 0;
  }
  &site-search-form{
    padding: $act-unit 0;
    display: none;
  }
  &footer{
    padding: $act-unit-s;
  }
  &meta{
    text-align: center;
    margin-bottom: $act-unit;
  }
  &meta-text{
    display: block;
  }
  &product-form{
    padding: 0 $act-unit;
  }
  &product-form-after{
    padding: 0 $act-unit;
    &:after{
      content: '';
      display: block;
      border-bottom: solid 3px $brand-col-6;
      margin-top: $act-unit * 1.5;
    }
  }
  &flex-item{
    padding: 0 $act-unit $act-unit;
    text-align: left;
    margin-bottom: $act-unit-l;

  }
  &bundle-cart{
    background: $brand-col-4;
    color: $brand-col-2;
  }
  &hero{
    padding: $act-unit;
    background: $brand-col-2;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &hero-text{

    font-family: $act-font-family-headings;
    font-weight: 500;
    color: $brand-col-1;


  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__header--

[class*=l-page__header--] {
  @extend .l-page__header;
}

.l-page__header--{
  &shop-collections{
    background: $brand-col-5;
    margin-bottom: 0;
    color: $brand-col-2;
    padding: $act-unit-l 0;
  }
  &search{
    background: $brand-col-3;
    color: $brand-col-2;
    padding: $act-unit-l 0;
  }
  &blog{
    background: $brand-col-3;
    color: $brand-col-1;
    padding: $act-unit-l 0;
  }
  &product{
    padding: 0 $act-unit;
  }
  &reviews{
    padding: $act-unit 0 !important;
}
  &static-page{

  }
}


//BEM ELEMENT MODIFIER FALLBACK .l-page__heading--

[class*=l-page__heading--] {
  @extend .l-page__heading;
}

.l-page__heading--{
  &shop-collections{
    color: $brand-col-2;
    margin-bottom: $act-unit-t;
    font-weight: 700;
  }
  &search{
    margin-bottom: 0;
    color: $brand-col-2;
  }
  &blog{
    margin-bottom: 0;
    color: $brand-col-2;
  }
  &product{
    color: $brand-col-2;
    @include act-font-size($act-fs-3,1.1);
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
  }
  &reviews{
    color: $brand-col-2;
    margin-bottom: 0;
  }
  &static-page{
    padding-top: $act-unit;
    padding-bottom: $act-unit;
    margin-bottom: 0;
    color: $brand-col-2 !important;
    font-weight: 700;
  }
  &collection-bundle{
    color: $brand-col-5;
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__sub-heading--

[class*=l-page__sub-heading--] {
  @extend .l-page__sub-heading;
}

.l-page__sub-heading--{
  &shop-collections{
    background: $brand-col-5;
    margin-bottom: 0;
    color: $brand-col-2;

  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__feature-image--

[class*=l-page__feature-image--] {
  @extend .l-page__feature-image;
}

.l-page__feature-image--{
  &shop-collections{
    margin-bottom: 0;
  }
  &static-page{
    margin-bottom: 0;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__meta-text--

 [class*=l-page__meta-text--] {
   @extend .l-page__meta-text;
 }

.l-page__meta-text--{

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__content--

[class*=l-page__content--] {
  @extend .l-page__content;
}

.l-page__content--{
  &product{
    padding: 0;
    text-align: left;
    margin-bottom: 0;
  }
  &recipe{
    text-align: left;
  }
  &article{
    margin-bottom: 0;
  }
  &static-page{
    text-align: left;
    margin-bottom: 0;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__footer--

[class*=l-page__footer--] {
  @extend .l-page__footer;
}

.l-page__footer--{
  &product{
    //margin-bottom: $act-unit-s;
  }
  &collection-bundle{
    background: $brand-col-4;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-page__flex-item--

[class*=l-page__flex-item--] {
  @extend .l-page__flex-item;
}

.l-page__flex-item--{
  &image{
    padding: 0;
  }
  &text{
    &:last-child{
      margin-bottom: 0;
    }
  }

}

//BEM ELEMENT MODIFIER FALLBACK .l-page__content-block--

[class*=l-page__content-block--] {
  @extend .l-page__content-block;
}

.l-page__content-block--{
  &product{
    padding: 0 $act-unit;
    &:after{
      content: '';
      display: block;
      width: 100%;
      height: 0;
      border-bottom: solid 3px $brand-col-6;
    }
    &.has-bgc:after{
      display: none !important;
    }
    &.has-next-bgc:after{
      display: none !important;
    }
    &:last-child:after{
      display: none !important;
    }
    &.is-last-block:after{
      display: none !important;
    }

  }

}

#wprev-slider-2656 .wprev_preview_bg1_T1 {

  background: $brand-col-2 !important;
  color: white;

}

#wprev-slider-2656 .wprev_preview_tcolor1_T1 {

  color: #fff !important;

}

.wprevpro_t1_DIV_2::before {
  color: #fff !important;
  content: '\201C';

}

.wprevpro_t1_DIV_2::after {


  border-top-color: $brand-col-2 !important;

}

.wprevpro_t1_SPAN_5 {

  color:$brand-col-2 !important;
  text-transform: none !important;

}

#wprev-slider-2656 .wprev_preview_bradius_T1 {

  border-radius: $act-unit !important;

}

.wprevpro_t1_P_3 {

  text-align: center !important;

}


