/*
  BEM BLOCK .l-thumb-list
 */

.l-thumb-list {
  display: block;
  margin-top: $act-unit-l;
}

/*
  BEM BLOCK MODIFIER .l-thumb-list--
 */

.l-thumb-list-- {
  &type {
    display: block
  }
}

//BEM BLOCK MODIFIER FALLBACK .l-thumb-list--

[class*=l-thumb-list--] {
  @extend .l-thumb-list;
}

/*
  BEM ELEMENTS .l-thumb-list__
 */

.l-thumb-list__ {
  &header {
    display: block
  }

  &heading {
    display: block
  }

  &title {
    display: inline;
  }

  &link {
    display: inline
  }

  &content {
    display: block
  }

  &footer {
    display: block
  }
  &list{
    @extend .o-list-bare
  }
  &item{
    margin-bottom: $act-unit-l;
  }
}

//BEM ELEMENT MODIFIER FALLBACK .l-thumb-list--

[class*=l-thumb-list__header--] {
  @extend .l-thumb-list__header;
}
