
.u-bgc-1 {
  background-color: $brand-col-1 !important;
  color: white; //default
}

.u-bgc-2 {
  background-color: $brand-col-2 !important;
  color: $brand-col-1; //default
}

.u-bgc-3 {
  background-color: $brand-col-3 !important;
  color: white; //default
}

.u-bgc-4{
  background-color: $brand-col-4 !important;
  color: white;
  .nav-menu__link *{
    color: white;
  }
}

.u-bgc-5 {
  background-color: $brand-col-5 !important;
  color: white; //default
}

.u-bgc-6 {
  background-color: $brand-col-6 !important;
  color: white; //default
}

.u-bgc-7 {
  background-color: $brand-col-7 !important;
  color: white; //default
}

.u-bgc-8 {
  background-color: $brand-col-8 !important;
  color: white; //default
}

.u-bgc-9 {
  background-color: $brand-col-9 !important;
  color: white; //default
}

.u-bgc-w {
  background-color: $brand-col-9 !important;
  color: white; //default
}
.u-bgc-t {
  background-color: $brand-col-1 !important;
  color: white; //default
}
