.u-btn-icon{
  .svg-icon {

    color: $brand-col-4;
    @include size(45px);
   
  }
  a:hover &{
      transition: color 0.3s ease;
      color: darken($brand-col-4, 20%);
  }
}

.u-btn-icon-border{
  .svg-icon {
    border: solid 1px;
  }
}

.u-btn-icon-disc{
  .svg-icon {
    border: solid 1px;
    border-radius: 50%;
  }
  .svg-icon__svg{
    @include size(1em);
  }
}

.u-btn-icon-inv{
  .svg-icon {
    color: $brand-col-2 !important;
    background: $brand-col-4;
  }
}

.u-btn-primary{
  background: #ccc;
  border-radius: 30px;
  padding: 0 $inuit-global-spacing-unit-tiny;
  line-height: 0;
  @include mq($from : desktop){
    padding: $inuit-global-spacing-unit-tiny / 2 $inuit-global-spacing-unit-small;
  }

}


