//margin
.u-mt{
  margin: $inuit-global-spacing-unit-tiny;
}
.u-ms{
  margin: $inuit-global-spacing-unit-small;
}
.u-mm{
  margin: $inuit-global-spacing-unit;
}
.u-ml{
  margin: $inuit-global-spacing-unit-large;
}
.u-mh{
  margin: $inuit-global-spacing-unit-huge;
}

//margin-left
.u-mlt{
  margin-left: $inuit-global-spacing-unit-tiny;
}
.u-mls{
  margin-left: $inuit-global-spacing-unit-small;
}
.u-mlm{
  margin-left: $inuit-global-spacing-unit;
}
.u-mll{
  margin-left: $inuit-global-spacing-unit-large;
}
.u-mlh{
  margin-left: $inuit-global-spacing-unit-huge;
}

//margin-right
.u-mrt{
  margin-right: $inuit-global-spacing-unit-tiny;
}
.u-mrs{
  margin-right: $inuit-global-spacing-unit-small;
}
.u-mrm{
  margin-right: $inuit-global-spacing-unit;
}
.u-mrl{
  margin-right: $inuit-global-spacing-unit-large;
}
.u-mrh{
  margin-right: $inuit-global-spacing-unit-huge;
}

//margin-top
.u-mtt{
  margin-top: $inuit-global-spacing-unit-tiny;
}
.u-mts{
  margin-top: $inuit-global-spacing-unit-small;
}
.u-mtm{
  margin-top: $inuit-global-spacing-unit;
}
.u-mtl{
  margin-top: $inuit-global-spacing-unit-large;
}
.u-mth{
  margin-top: $inuit-global-spacing-unit-huge;
}


//margin-bottom
.u-mbt{
  margin-bottom: $inuit-global-spacing-unit-tiny;
}
.u-mbs{
  margin-bottom: $inuit-global-spacing-unit-small;
}
.u-mbm{
  margin-bottom: $inuit-global-spacing-unit;
}
.u-mbl{
  margin-bottom: $inuit-global-spacing-unit-large;
}
.u-mbh{
  margin-bottom: $inuit-global-spacing-unit-huge;
}

.u-m0a{
  margin: 0 auto;
}

.u-mla{
  margin-left:auto;
}

.u-mra{
  margin-right:auto;
}