.u-pos-a{
  position: absolute !important;
}

.u-pos-r{
  position: relative !important;
}
.u-pos-f{
  position: fixed !important;
}

.u-pos-s{
  position: static !important;
}

.u-pos-l-0{
  left: 0;
}
.u-pos-l-n100{
  left: -100px;

}

.u-pos-b-0{
  bottom:0;
}

.u-pos-b-n30{
  bottom:-30px;
}