//text-align
.u-tac{
  text-align: center;
}
.u-tal{
  text-align: left;
}
.u-tar{
   text-align: right;
 }
.u-taj{
  text-align: justify;
}



//text-transform
.u-ttu{
   text-transform: uppercase;
 }
.u-ttl{
  text-transform: lowercase;
}
.u-ttc{
  text-transform: capitalize;
}

