//text-align
.u-tac, .u-ta-center, .u-ta-centre{
  text-align: center !important;
}
.u-tal, .u-ta-left{
  text-align: left !important;
}
.u-tar, .u-ta-right{
   text-align: right !important;
 }
.u-taj, .u-ta-justify{
  text-align: justify !important;
}



//text-transform
.u-ttu{
   text-transform: uppercase !important;
 }
.u-ttl{
  text-transform: lowercase !important;
}
.u-ttc{
  text-transform: capitalize !important;
}

