
.u-col-1 {
  color: $brand-col-1 !important;
  &-hov:hover{
    color: $brand-col-1 !important;
  }
}
a.u-col-1:hover{
  color: darken($brand-col-1, 20%) !important;
}

.u-col-2 {
  color: $brand-col-2 !important;
  &-hov:hover{
    color: $brand-col-2 !important;
  }
}
a.u-col-2:hover{
  color: darken($brand-col-2, 20%) !important;
}

.u-col-3 {
  color: $brand-col-3 !important;
  &-hov:hover{
    color: $brand-col-3 !important;
  }
}
a.u-col-3:hover{
  color: darken($brand-col-3, 20%) !important;
}

.u-col-4{
  color: $brand-col-4 !important;
  &-hov:hover{
    color: $brand-col-4 !important;
  }
}
a.u-col-4:hover{
  color: darken($brand-col-4, 20%) !important;
}

.u-col-5 {
  color: $brand-col-5 !important;
  &-hov:hover{
    color: $brand-col-5 !important;
  }
}
a.u-col-5:hover{
  color: darken($brand-col-5, 20%) !important;
}

.u-col-6 {
  color: $brand-col-6 !important;
  &-hov:hover{
    color: $brand-col-6 !important;
  }
}
a.u-col-6:hover{
  color: darken($brand-col-6, 20%) !important;
}

.u-col-7 {
  color: $brand-col-7 !important;
  &-hov:hover{
    color: $brand-col-7 !important;
  }
}
a.u-col-7:hover{
  color: darken($brand-col-7, 20%) !important;
}

.u-col-8 {
  color: $brand-col-8 !important;
  &-hov:hover{
    color: $brand-col-8 !important;
  }
}
a.u-col-8:hover{
  color: darken($brand-col-8, 20%) !important;
}

.u-col-9 {
  color: $brand-col-9 !important;
  &-hov:hover{
    color: $brand-col-9 !important;
  }
}
a.u-col-9:hover{
  color: darken($brand-col-9, 20%) !important;
}

.u-col-w, .u-col-white{
  color: white !important;
  &-hov:hover{
    color: white !important;
  }
}
a.u-col-w:hover, a.u-col-white:hover{
  color: white;
}
.u-col-b, .u-col-black{
  color: black !important;
  &-hov:hover{
    color: black !important;
  }
}
a.u-col-b:hover, a.u-col-black:hover{
  color: black
}
