//white-space
.u-wsnw{
  white-space: nowrap !important;
}

.u-wsw,.u-wsn{
  white-space: normal !important;
}

.u-wsp{
  white-space: pre !important;
}

.u-wspw{
  white-space: pre-wrap !important;
}

.u-wspl{
  white-space: pre-line !important;
}

