.responsive-image__wrapper{
  margin-left: auto;
  margin-right: auto;
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.flickity-page-dots .dot {
  background: #fff !important;
}


[data-container][data-state=off]{
  pointer-events: none !important;
  *{
    pointer-events: none;
  }
}

[data-control]{
  &[data-state=off]{
   // pointer-events: none !important;
    [data-lable=off]{
      display: none;
    }
  }
  &[data-state=on]{
    // pointer-events: none !important;
    [data-lable=on]{
      display: none;
    }
  }
}

.shopify-section{
  @include mq($from: desktop){
    width: 100%;
    &.is-section-width-50{
      width: 50%;
    }
  }
}




// AJAX CART

.js-drawer-open-right .drawer--right {
  display: block;
  -ms-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

.drawer--right {
  width: 600px;
}

.drawer {
  top: 0;
  padding: 0 13px 15px;
}

.drawer--right {
  width: 600px;
  right: -300px;
  border-left: 1px solid #f2f2f2;
}

.drawer {
  -webkit-transform: translateZ(0);
  will-change: transform;
  display: none;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  top: 0;
  bottom: 0;
  padding: 0 15px 15px;
  max-width: 95%;
  z-index: 10;
  color: #000;
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);
}
#CartDrawer .drawer__close {
  font-weight: bold;
}
.drawer__close {
  position: absolute;
  right: 4px;
  top: 19px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  width: auto;
}

.ajaxcart__qty {
  margin: 0;
}
 .ajaxcart__qty {
  position: relative;
  margin-bottom: 0;
  overflow: visible;
  display: block;
}
.js-qty{
  position: relative;
  margin-bottom: 0;
  overflow: visible;
  display: flex;
  justify-content: space-around;
}
.js-qty__num{
  width: 100%;
  display: none;
  border-radius: $act-unit-t;
}
.ajaxcart__qty--minus {
  border-color: #f2f2f2;
}
.ajaxcart__qty-adjust {
  color: #000;
}
.js-qty__adjust--minus, .ajaxcart__qty--minus {
  left: 0;
  border-right: 1px solid #e5e5e5;
}

.ajaxcart__qty-adjust {
  cursor: pointer;
  display: block;
  top: 0;
  bottom: 0;
  border: 0 none;
  padding: 0 8px;
  background: none;
  text-align: center;
  overflow: hidden;
  user-select: none;
  display: none !important;

}
.js-qty__adjust{
  cursor: pointer;
  display: block;
  border: 0 none;
  padding: $act-unit-t;
  background: none;
  text-align: center;
  overflow: hidden;
  user-select: none;
  color:white;
  background: $brand-col-2;
  @include size($act-unit * 1.5);
  display: flex;
  justify-content: center ;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  display: none !important;
}

.js-qty input, .ajaxcart__qty input, .ajaxcart__qty input {
  line-height: 1.2;
}

.js-qty input, .ajaxcart__qty input {
  display: block;
  width: 3em;
  background: none;
  text-align: center;
  padding: 0;
  margin: 0;
  border: solid 1px $brand-col-2;
  border-radius: 0;
}

.drawer input, .drawer textarea {
  border-color: #f2f2f2;
}

.ajaxcart__qty--plus {
  border-color: #f2f2f2;
}

.js-qty__adjust--plus, .ajaxcart__qty--plus {
  right: 0;
  border-left: 1px solid #e5e5e5;
}

.admin-bar{
  //display: none !important;
}

#preview-bar-iframe{
  //display: none !important;
}

[data-control]{
  cursor: pointer !important;
}

//Facebook reviews

#wprev-slider-2656 .wprev_preview_bg1_T1 {
  background: $brand-col-2 !important;
  color: white;

}

#wprev-slider-2656 .wprev_preview_tcolor1_T1 {
  color: #fff !important;
  text-align: left !important;
}

.wprevpro_t1_DIV_2::before {
  color: #fff !important;
  content: '\201C';

}

.wprevpro_t1_DIV_2::after {
  border-top-color: $brand-col-2 !important;

}

.wprevpro_t1_SPAN_5 {
  color:$brand-col-2 !important;
  text-transform: none !important;

}

#wprev-slider-2656 .wprev_preview_bradius_T1 {
  border-radius: $act-unit !important;

}

.wprevpro_t1_P_3 {
  text-align: center !important;

}

.remodal .responsive-image__wrapper{
  width: 100%;
  max-width: none !important;
}
.remodal .responsive-image__image{
  max-width: 100% !important;
  max-height: 100% !important;
  width: 700px;
}

.bnfnFq.bnfnFq.bnfnFq {

  margin: 0px !important;
  max-width: none !important;
  padding: 0;

  button{
    border-radius: $act-unit-s !important;
    padding-left: $act-unit-l !important;
    padding-right:  $act-unit-l !important;
  }

}

.IyeVl.IyeVl.IyeVl {
  padding: 12px 24px 12px 0px !important;

  max-width: 500px;
  input{
    border-radius: 12px !important;
  }

}

.ql-editor{
  p:nth-child(3){
    border: dashed #333 !important;
    padding: $act-unit-s 0 !important;
    border-radius: $act-unit-s !important;
  }
}

.jCHxsa.jCHxsa.jCHxsa.jCHxsa.jCHxsa.jCHxsa.jCHxsa {

  background: $brand-col-3;

}






