.responsive-image__wrapper{
  margin-left: auto;
  margin-right: auto;
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.flickity-page-dots .dot {
  background: #fff !important;
}


[data-container][data-state=off]{
  pointer-events: none !important;
}
