$site-wrapper-color : white;
$site-wrapper-padding : $inuit-global-spacing-unit-huge;
$site-wrapper-padding-small : $site-wrapper-padding / 2;
$site-wrapper-padding-tiny : $site-wrapper-padding-small / 2;

.o-site-wrapper{
  @extend .o-wrapper;
  background: $site-wrapper-color;
  padding: $site-wrapper-padding;
}

.o-site-wrapper--{
  &responsive{
    @extend .o-site-wrapper;
    padding: $site-wrapper-padding / 8;
    @include mq($from : mobile, $until : tablet){

      padding: $site-wrapper-padding / 4 ;
    }
    @include mq($from : tablet, $until : desktop){
      padding: $site-wrapper-padding / 2;
    }
    @include mq($from : desktop){
      padding: $site-wrapper-padding;
    }
  }
}

