/*
  BEM BLOCK .o-svg-icon
 */

.o-svg-icon {
  display: block;
  @include size($inuit-global-spacing-unit);
  position: relative;
}



/*
  BEM BLOCK MODIFIER .o-svg-icon--
 */

.o-svg-icon-- {
  &type {
    display: block
  }
}

.o-svg-icon--envelope{
  display: flex;
}


//BEM BLOCK MODIFIER FALLBACK .o-svg-icon--

[class*=o-svg-icon--] {
  @extend .o-svg-icon;
}

/*
  BEM ELEMENTS .o-svg-icon__
 */

.o-svg-icon__ {
  &svg {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    max-width: 100%;
    max-height: 100%;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

//BEM ELEMENT MODIFIER FALLBACK .o-svg-icon--

[class*=svg-icon__header--] {

}

.o-svg-icon--envelope{
  .nav-menu--header &{
    width: 1em;
    margin: 0 0.5em;
    @include mq($from : tablet){
      margin: 0 0.25em;
    }
  }
}