/* PageFly Element Styles */
						.fKltnh__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.fKltnh { padding: 15px 0px; position: relative; }
.fKltnh .sc-drMfKT { position: relative; }
.fKltnh[data-container="true"] .sc-drMfKT { padding: 0px 15px; width: 100%; margin: auto; }
.fKltnh .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bthysn { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.cZcEAd { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cZcEAd { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cZcEAd { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cZcEAd { padding: var(--pf-s-xs); }
}
.gbyClD { position: relative; }
.bGlvSa { display: inline-flex; vertical-align: middle; }
.bGlvSa picture { width: 100%; border-radius: inherit; }
.cDcqcj { position: relative; overflow: hidden; display: inline-flex; max-width: 100%; vertical-align: middle; }
.cDcqcj img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.jBtkMg { position: relative; }
.catfvM > span:last-child { line-height: inherit; display: block; }
#editor-dnd-wrapper .catfvM[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable] { display: block; }
#editor-dnd-wrapper .catfvM[class*="dropcap--"]:not(.dropcap--none) > span:last-child[contenteditable]:empty::after { display: inline; }
.catfvM[class*="dropcap--"] > span:first-child { display: block; margin-right: 10px; float: left; width: 50px; height: 50px; line-height: 50px; }
.catfvM[class*="dropcap--"]:not(.dropcap--none) > span:first-child { margin-right: 20px; text-align: center; }
.catfvM.dropcap--none > span:first-child { text-align: inherit; border-radius: 0px; line-height: 1 !important; width: auto !important; height: auto !important; background: none !important; }
.catfvM.dropcap--circle > span:first-child { border-radius: 100%; }
.catfvM:not([class*="dropcap--"]) > span { margin-right: 0px !important; }
.catfvM ol, .catfvM ul { list-style-position: inside; }
.catfvM blockquote { font-size: inherit; }
.lepPmi { display: inline-block; }
.lepPmi[contenteditable="true"] { user-select: text; }
.lepPmi { vertical-align: baseline; word-break: break-word; }
.lepPmi:focus { outline: none; }
.lepPmi::after { display: inline; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-9eb766c4 {
		width: 300px;
		 margin-bottom: 30px;
		 height: 300px;
		 border-style: solid;
		 border-color: rgb(126, 211, 33);
	}
	.__pf .pf-feb13b94 {
		font-size: 16px;
	}
	.__pf .pf-2b3921c9 {
		font-size: 12px;
		 color: rgb(112, 112, 112);
		 font-weight: 300;
		 font-style: italic;
	}
	.__pf .pf-0c5633a1 {
		text-align: center;
	}
	.__pf .pf-a2870698 {
		padding: 15px 15px 20px;
	}
	.__pf .pf-6b4b72ad {
		width: 300px;
		 margin-bottom: 30px;
		 height: 300px;
		 border-style: solid;
		 border-color: rgb(126, 211, 33);
	}
	.__pf .pf-a475bfb9 {
		padding-top: 10px;
	}
	.__pf .pf-ad81cf4f {
		font-size: 16px;
	}
	.__pf .pf-53bb4970 {
		font-size: 12px;
		 color: rgb(112, 112, 112);
		 font-weight: 300;
		 font-style: italic;
	}
	.__pf .pf-c8ec553b {
		text-align: center;
	}
	.__pf .pf-b389ccd3 {
		padding: 10px;
	}
	.__pf .pf-6ffc40af {
		width: 300px;
		 margin-bottom: 30px;
		 border-style: solid;
		 border-color: rgb(126, 211, 33);
	}
	.__pf .pf-71e6f3ce {
		font-size: 16px;
	}
	.__pf .pf-fb450f12 {
		font-size: 12px;
		 color: rgb(112, 112, 112);
		 font-weight: 300;
		 font-style: italic;
	}
	.__pf .pf-233b7ecc {
		text-align: center;
	}
	.__pf .pf-5843e2ad {
		width: 300px;
		 margin-bottom: 30px;
		 border-style: solid;
		 border-color: rgb(126, 211, 33);
		 align-items: center;
		 justify-content: center;
	}
	.__pf .pf-91ff6dd5 {
		font-size: 16px;
	}
	.__pf .pf-9b585d51 {
		text-align: center;
	}
	.__pf .pf-d4567ec1 {
		width: 300px;
		 margin-bottom: 30px;
		 border-style: solid;
		 border-color: rgb(126, 211, 33);
	}
	.__pf .pf-a9cb4ae5 {
		font-size: 16px;
	}
	.__pf .pf-01b6bcf4 {
		text-align: center;
	}
	.__pf .pf-0462a7ab {
		width: 300px;
		 margin-bottom: 30px;
		 border-style: solid;
		 border-color: rgb(126, 211, 33);
	}
	.__pf .pf-69517ace {
		font-size: 16px;
	}
	.__pf .pf-a483143f {
		text-align: center;
	}
	.__pf .pf-e9a3966a {
		width: 300px;
		 margin-bottom: 30px;
		 border-style: solid;
		 border-color: rgb(126, 211, 33);
	}
	.__pf .pf-27152fd9 {
		font-size: 16px;
	}
	.__pf .pf-e877d1c7 {
		text-align: center;
	}
	.__pf .pf-2346bf10 {
		width: 300px;
		 margin-bottom: 30px;
		 border-style: solid;
		 border-color: rgb(126, 211, 33);
	}
	.__pf .pf-22a8f6bc {
		font-size: 16px;
	}
	.__pf .pf-3c85143a {
		text-align: center;
	}
	.__pf .pf-8729793f {
		width: 300px;
		 margin-bottom: 30px;
		 border-style: solid;
		 border-color: rgb(126, 211, 33);
	}
	.__pf .pf-3113fe2b {
		font-size: 16px;
	}
	.__pf .pf-f7f16325 {
		text-align: center;
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }

 